@import url(default.css);
@import url(font.css);
@import url(common.css);

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /*맨위*/
    width: 100%;
}
.skip_nav a{
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #f56765;
    color: #fff;
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;

}
.skip_nav a:focus {
    top: 0;
}

body {
    background-color: #fff; /*바탕 배경-흰색*/
}

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /* logo, gnb, util을 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header .logo a {
    display: block;
    width: 177px;
    height: 61px;
    background: url(../images/logo1-w.svg) no-repeat center center / contain;
}


/******header에 fixed 클래스 추가 되었을때******/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
    border-bottom: 1px solid #ededed;

}
header.fixed .logo a {
    background-image: url(../images/logo1.svg);
}

@media screen and (min-width:1025px){ 
    /*pc버전 메뉴 - pc버전에서만 적용되는 herader 스타일*/
            header .gnb .gnb_open,
            header .gnb .gnb_close {
                display: none; /* 모바일에서만 보임 */
            }
            header .gnb .gnb_wrap ul.depth1 {
                display: flex; /* li를 좌우로 배치 */
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                position: relative; /*2차메뉴의 정렬의 기준*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                font-family: "Cafe24Supermagic";
                line-height: 100px; /* header 높이만큼 */
                font-size: 22px;
                font-weight: 700;
                padding: 0 26px;

            }
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
                /* li하위에 depth2가 있는 a만 */
                display: block;
                padding-right: 17px; /* 아이콘이 들어갈 만큼 */
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
                content: "";
                position: absolute;
                right: 0;
                top: 45px;
                width: 14px;
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28325 5.85131L12.2906 0.843768C12.4798 0.65475 12.7031 0.562427 12.9607 0.566798C13.2183 0.57117 13.4416 0.667865 13.6308 0.856883C13.8198 1.04602 13.9143 1.27007 13.9143 1.52903C13.9143 1.788 13.8198 2.01199 13.6308 2.20101L8.3989 7.45014C8.24163 7.60741 8.06573 7.72469 7.87119 7.802C7.67653 7.87931 7.48055 7.91797 7.28325 7.91797C7.08595 7.91797 6.88997 7.87931 6.69532 7.802C6.50078 7.72469 6.32488 7.60741 6.16761 7.45014L0.918475 2.20101C0.729457 2.01199 0.637134 1.78581 0.641505 1.52247C0.645877 1.25914 0.742572 1.0329 0.93159 0.843768C1.12072 0.65475 1.34477 0.560241 1.60374 0.560241C1.8627 0.560241 2.08675 0.65475 2.27589 0.843768L7.28325 5.85131Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                display: none; /* 2차메뉴 */
                position: absolute;
                left: 0;
                top: 87px;
                background-color: #f56765;
                color: #fff;
                padding: 0 20px;
                border-radius: 40px;
                left: 50%;
                transform: translateX(-50%);/*ul길이 절반을 내 왼쪽으로 이동*/
            }
            
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                white-space: nowrap;
                /* 넓이 좁아서 flex가 안되서 줄바꿈금지를 a에게 준다*/
                padding: 15px 20px;
                
            }

            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
                /*속성선택자 <a target ="_blank"> 라는 속성 a태그만 선택함*/
                display: block;
                padding-right: 20px;
                position: relative; /* after 정렬의 기준*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::before {
                content: "";
                position: absolute;
                right: 0;
                top: 2px;
                width: 19px;
                height: 19px;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_62_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='19'%3E%3Crect x='0.034668' y='0.934082' width='17.9653' height='17.9653' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_62_7)'%3E%3Cpath d='M3.77738 16.6537C3.36568 16.6537 3.01323 16.5071 2.72005 16.2139C2.42687 15.9207 2.28027 15.5683 2.28027 15.1566V4.6768C2.28027 4.26509 2.42687 3.91265 2.72005 3.61946C3.01323 3.32628 3.36568 3.17969 3.77738 3.17969H9.01727V4.6768H3.77738V15.1566H14.2572V9.91669H15.7543V15.1566C15.7543 15.5683 15.6077 15.9207 15.3145 16.2139C15.0213 16.5071 14.6689 16.6537 14.2572 16.6537H3.77738ZM7.2956 12.6863L6.24762 11.6384L13.2092 4.6768H10.5144V3.17969H15.7543V8.41958H14.2572V5.72478L7.2956 12.6863Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
                position: relative;

            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 100%;
                height: 1px;
                background-color: #fff;

            }
            header .util .search .search_open {
                display: block;
                width: 45px;
                height: 45px;
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0625 18C6.56458 18 4.45052 17.1349 2.72031 15.4047C0.990104 13.6745 0.125 11.5604 0.125 9.0625C0.125 6.56458 0.990104 4.45052 2.72031 2.72031C4.45052 0.990104 6.56458 0.125 9.0625 0.125C11.5604 0.125 13.6745 0.990104 15.4047 2.72031C17.1349 4.45052 18 6.56458 18 9.0625C18 10.0708 17.8396 11.0219 17.5188 11.9156C17.1979 12.8094 16.7625 13.6 16.2125 14.2875L23.9125 21.9875C24.1646 22.2396 24.2906 22.5604 24.2906 22.95C24.2906 23.3396 24.1646 23.6604 23.9125 23.9125C23.6604 24.1646 23.3396 24.2906 22.95 24.2906C22.5604 24.2906 22.2396 24.1646 21.9875 23.9125L14.2875 16.2125C13.6 16.7625 12.8094 17.1979 11.9156 17.5188C11.0219 17.8396 10.0708 18 9.0625 18ZM9.0625 15.25C10.7812 15.25 12.2422 14.6484 13.4453 13.4453C14.6484 12.2422 15.25 10.7812 15.25 9.0625C15.25 7.34375 14.6484 5.88281 13.4453 4.67969C12.2422 3.47656 10.7812 2.875 9.0625 2.875C7.34375 2.875 5.88281 3.47656 4.67969 4.67969C3.47656 5.88281 2.875 7.34375 2.875 9.0625C2.875 10.7812 3.47656 12.2422 4.67969 13.4453C5.88281 14.6484 7.34375 15.25 9.0625 15.25Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }

             /******header에 fixed 클래스 추가 되었을때******/
            header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28325 5.85131L12.2906 0.843768C12.4798 0.65475 12.7031 0.562427 12.9607 0.566798C13.2183 0.57117 13.4416 0.667865 13.6308 0.856883C13.8198 1.04602 13.9143 1.27007 13.9143 1.52903C13.9143 1.788 13.8198 2.01199 13.6308 2.20101L8.3989 7.45014C8.24163 7.60741 8.06573 7.72469 7.87119 7.802C7.67653 7.87931 7.48055 7.91797 7.28325 7.91797C7.08595 7.91797 6.88997 7.87931 6.69532 7.802C6.50078 7.72469 6.32488 7.60741 6.16761 7.45014L0.918475 2.20101C0.729457 2.01199 0.637134 1.78581 0.641505 1.52247C0.645877 1.25914 0.742572 1.0329 0.93159 0.843768C1.12072 0.65475 1.34477 0.560241 1.60374 0.560241C1.8627 0.560241 2.08675 0.65475 2.27589 0.843768L7.28325 5.85131Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }
            header.fixed .util .search .search_open {
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0625 18C6.56458 18 4.45052 17.1349 2.72031 15.4047C0.990104 13.6745 0.125 11.5604 0.125 9.0625C0.125 6.56458 0.990104 4.45052 2.72031 2.72031C4.45052 0.990104 6.56458 0.125 9.0625 0.125C11.5604 0.125 13.6745 0.990104 15.4047 2.72031C17.1349 4.45052 18 6.56458 18 9.0625C18 10.0708 17.8396 11.0219 17.5188 11.9156C17.1979 12.8094 16.7625 13.6 16.2125 14.2875L23.9125 21.9875C24.1646 22.2396 24.2906 22.5604 24.2906 22.95C24.2906 23.3396 24.1646 23.6604 23.9125 23.9125C23.6604 24.1646 23.3396 24.2906 22.95 24.2906C22.5604 24.2906 22.2396 24.1646 21.9875 23.9125L14.2875 16.2125C13.6 16.7625 12.8094 17.1979 11.9156 17.5188C11.0219 17.8396 10.0708 18 9.0625 18ZM9.0625 15.25C10.7812 15.25 12.2422 14.6484 13.4453 13.4453C14.6484 12.2422 15.25 10.7812 15.25 9.0625C15.25 7.34375 14.6484 5.88281 13.4453 4.67969C12.2422 3.47656 10.7812 2.875 9.0625 2.875C7.34375 2.875 5.88281 3.47656 4.67969 4.67969C3.47656 5.88281 2.875 7.34375 2.875 9.0625C2.875 10.7812 3.47656 12.2422 4.67969 13.4453C5.88281 14.6484 7.34375 15.25 9.0625 15.25Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
            }


             /******메뉴에 마우스 오버했을때******/
            header .gnb .gnb_wrap ul.depth1 > li.over > a {
                color: #f56765;
            }
            header.fixed .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after {
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28325 5.85131L12.2906 0.843768C12.4798 0.65475 12.7031 0.562427 12.9607 0.566798C13.2183 0.57117 13.4416 0.667865 13.6308 0.856883C13.8198 1.04602 13.9143 1.27007 13.9143 1.52903C13.9143 1.788 13.8198 2.01199 13.6308 2.20101L8.3989 7.45014C8.24163 7.60741 8.06573 7.72469 7.87119 7.802C7.67653 7.87931 7.48055 7.91797 7.28325 7.91797C7.08595 7.91797 6.88997 7.87931 6.69532 7.802C6.50078 7.72469 6.32488 7.60741 6.16761 7.45014L0.918475 2.20101C0.729457 2.01199 0.637134 1.78581 0.641505 1.52247C0.645877 1.25914 0.742572 1.0329 0.93159 0.843768C1.12072 0.65475 1.34477 0.560241 1.60374 0.560241C1.8627 0.560241 2.08675 0.65475 2.27589 0.843768L7.28325 5.85131Z' fill='%23f56765'/%3E%3C/svg%3E%0A");
                transform: rotate(180deg);
            }


            header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
                display: flex; /* li를 좌우로 배치*/
            }

}
@media screen and (min-width:1025px) and (max-width:1280px) {
    /*1280~1025까지만 적용*/
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 15px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        padding: 15px 10px;
    }
}

@media screen and (max-width:1024px) {
    /************모바일형 1024d 이하***********/
    header {
        height: 56px;
        padding: 0 0 0 20px;
    }
    header .logo a {
        width: 116px;
        height: 40px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 52px;
        height: 52px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_68_13' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='37' height='37'%3E%3Crect width='37' height='37' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_68_13)'%3E%3Cpath d='M4.625 32.375V29.2917H32.375V32.375H4.625ZM4.625 20.0417V16.9583H32.375V20.0417H4.625ZM4.625 7.70833V4.625H32.375V7.70833H4.625Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none; /*숨김*/
        position: fixed; /*body를 기준으로 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        height: calc(100% - 56px);
        overflow-y: auto; /*높이 줄어들면 스크롤바 만들기*/
        margin: 56px 20px 0 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 24px;
        padding: 15px;
        position: relative; /* after 정렬의 기준*/

    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after {
        content: "";
        position: absolute;
        right: 11px;
        top: 26px;
        width: 14px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_70_31' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='21'%3E%3Crect x='19.0806' y='1' width='19.0401' height='19.0401' transform='rotate(90.1211 19.0806 1)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_70_31)'%3E%3Cpath d='M1.61369 7.32972L3.02484 5.92453L9.53624 12.4635L16.0752 5.9521L17.4804 7.36325L9.53029 15.2799L1.61369 7.32972Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #f4f4f4;
        color: #555;
        padding: 27px 0 24px 29px;
        display: none;

    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 3px 0;
    }
    
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
        display: inline-block;
        position: relative;
        padding-right: 20px;

    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::after {
        content: "";
        position: absolute;
        right: 5px;
        top: 5px;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_71_37' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='17' height='17'%3E%3Crect x='0.233398' y='0.1875' width='16.7666' height='16.7666' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_71_37)'%3E%3Cpath d='M3.72632 14.8582C3.34208 14.8582 3.01316 14.7213 2.73953 14.4477C2.46591 14.1741 2.3291 13.8452 2.3291 13.4609V3.68042C2.3291 3.29619 2.46591 2.96726 2.73953 2.69364C3.01316 2.42001 3.34208 2.2832 3.72632 2.2832H8.61658V3.68042H3.72632V13.4609H13.5068V8.57068H14.9041V13.4609C14.9041 13.8452 14.7672 14.1741 14.4936 14.4477C14.22 14.7213 13.8911 14.8582 13.5068 14.8582H3.72632ZM7.00978 11.1555L6.03173 10.1775L12.5288 3.68042H10.0138V2.2832H14.9041V7.17346H13.5068V4.65847L7.00978 11.1555Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;


    }
    header .gnb .gnb_close {
        display: none; /*숨김*/
        position: fixed; /*body를 기준으로 정렬*/
        right: 0;
        top: 0;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_68_22' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='37' height='37'%3E%3Crect width='37' height='37' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_68_22)'%3E%3Cpath d='M9.86683 29.2918L7.7085 27.1335L16.3418 18.5002L7.7085 9.86683L9.86683 7.7085L18.5002 16.3418L27.1335 7.7085L29.2918 9.86683L20.6585 18.5002L29.2918 27.1335L27.1335 29.2918L18.5002 20.6585L9.86683 29.2918Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .util {
        display: none; /*숨김*/
    }
    header.fixed .gnb .gnb_open  {
        background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_68_23' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='37' height='37'%3E%3Crect width='37' height='37' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_68_23)'%3E%3Cpath d='M4.625 32.375V29.2917H32.375V32.375H4.625ZM4.625 20.0417V16.9583H32.375V20.0417H4.625ZM4.625 7.70833V4.625H32.375V7.70833H4.625Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}

/************모바일에서 메뉴가 열렸을때***********/

header.menu_open .gnb .gnb_wrap {
    display: block; /*나타남*/
}
header.menu_open .gnb .gnb_close {
    display: block; /*나타남*/
}

/************모바일에서 하위메뉴가 열렸을때***********/
header .gnb .gnb_wrap ul.depth1 > li.open > a {
    color: #f56765;
}
header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
    display: block;
}
header .gnb .gnb_wrap ul.depth1 > li.gnb_open:has(ul.depth2) > a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_70_31' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='21'%3E%3Crect x='19.0806' y='1' width='19.0401' height='19.0401' transform='rotate(90.1211 19.0806 1)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_70_31)'%3E%3Cpath d='M1.61369 7.32972L3.02484 5.92453L9.53624 12.4635L16.0752 5.9521L17.4804 7.36325L9.53029 15.2799L1.61369 7.32972Z' fill='%23F56765' fill-opacity='0.933333'/%3E%3C/g%3E%3C/svg%3E%0A");


}


.visual .swiper-slide {
    
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual-1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual-2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual-3.jpg);
}
.visual .swiper-slide .wrapper {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 147px 0;
}
.visual .swiper-slide p {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.2;
}
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 0;
    bottom: 30px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.84782 5.79602L5.77735 9.7254C5.92567 9.87382 5.99812 10.0491 5.99469 10.2512C5.99126 10.4534 5.91538 10.6286 5.76705 10.777C5.61864 10.9254 5.44282 10.9995 5.23961 10.9995C5.03639 10.9995 4.86062 10.9254 4.71229 10.777L0.593189 6.67149C0.469779 6.54808 0.377741 6.41004 0.317074 6.25738C0.256408 6.10463 0.226074 5.95084 0.226074 5.79602C0.226074 5.64119 0.256408 5.4874 0.317074 5.33465C0.377741 5.18199 0.469779 5.04396 0.593189 4.92055L4.71229 0.801444C4.86062 0.653118 5.03811 0.58067 5.24475 0.584101C5.4514 0.587531 5.62893 0.66341 5.77734 0.811736C5.92567 0.960153 5.99983 1.13597 5.99983 1.33918C5.99983 1.5424 5.92567 1.71822 5.77734 1.86663L1.84782 5.79602Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.37825 5.78797L0.44873 1.85858C0.300404 1.71017 0.227956 1.53489 0.231387 1.33276C0.234817 1.13063 0.310696 0.955353 0.459022 0.806936C0.607439 0.65861 0.783254 0.584446 0.98647 0.584446C1.18968 0.584446 1.36546 0.65861 1.51378 0.806937L5.63289 4.9125C5.7563 5.03591 5.84833 5.17394 5.909 5.3266C5.96967 5.47935 6 5.63314 6 5.78797C6 5.94279 5.96967 6.09658 5.909 6.24933C5.84833 6.40199 5.7563 6.54003 5.63289 6.66344L1.51378 10.7825C1.36546 10.9309 1.18797 11.0033 0.981323 10.9999C0.774677 10.9965 0.597146 10.9206 0.44873 10.7722C0.300403 10.6238 0.22624 10.448 0.22624 10.2448C0.22624 10.0416 0.300403 9.86577 0.44873 9.71735L4.37825 5.78797Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.40755 7.98356C5.11854 7.98356 4.87113 7.88066 4.66532 7.67485C4.45951 7.46904 4.35661 7.22163 4.35661 6.93262V1.6779C4.35661 1.38889 4.45951 1.14148 4.66532 0.935668C4.87113 0.729858 5.11854 0.626953 5.40755 0.626953C5.69656 0.626953 5.94397 0.729858 6.14978 0.935668C6.35559 1.14148 6.4585 1.38889 6.4585 1.6779V6.93262C6.4585 7.22163 6.35559 7.46904 6.14978 7.67485C5.94397 7.88066 5.69656 7.98356 5.40755 7.98356ZM1.20378 7.98356C0.914766 7.98356 0.667357 7.88066 0.461547 7.67485C0.255737 7.46904 0.152832 7.22163 0.152832 6.93262V1.6779C0.152832 1.38889 0.255737 1.14148 0.461547 0.935668C0.667357 0.729858 0.914766 0.626953 1.20378 0.626953C1.49279 0.626953 1.7402 0.729858 1.94601 0.935668C2.15182 1.14148 2.25472 1.38889 2.25472 1.6779V6.93262C2.25472 7.22163 2.15182 7.46904 1.94601 7.67485C1.7402 7.88066 1.49279 7.98356 1.20378 7.98356Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none;  /* 정지버튼을 눌렀을때만 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09436 7.77964C0.986646 7.77964 0.892395 7.74261 0.811609 7.66856C0.730823 7.5945 0.69043 7.49689 0.69043 7.37571V1.23596C0.69043 1.11478 0.730823 1.01717 0.811609 0.943112C0.892395 0.869058 0.986646 0.832031 1.09436 0.832031C1.12129 0.832031 1.21554 0.872424 1.37711 0.95321L4.30561 3.88171C4.37293 3.94903 4.42006 4.01635 4.44699 4.08367C4.47391 4.151 4.48738 4.22505 4.48738 4.30584C4.48738 4.38662 4.47391 4.46068 4.44699 4.528C4.42006 4.59532 4.37293 4.66264 4.30561 4.72996L1.37711 7.65846C1.33672 7.69885 1.29296 7.72915 1.24583 7.74934C1.19871 7.76954 1.14822 7.77964 1.09436 7.77964Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .wrapper {
        height: 700px;
        padding: 0 0 100px 0;
    }
    .visual .swiper-slide p {
        font-size: 42px;
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide .wrapper {
        height: 536px;
        padding: 0 0 70px 0;
    }
    .visual .swiper-slide p {
        font-size: 30px;
    }
    .visual .btn_wrap {
        left: 20px;
        bottom: 25px;
        width: auto;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
}



.find {
    padding: 159px 0 156px 0;
    background-color: #454545;
    color:#fff ;
    position: relative; /*앰블던 정렬의 기준*/
}

.find .tit h2 {
    font-size: 40px;
    font-family: "Cafe24Supermagic";
    text-align: center;
    font-weight: 700;
}

.find .list {
    margin: 28px 0 0 0;
}
.find .list .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 30px;

}
.find .list .tab_list ul li button {
    font-size: 32px;
    font-family: "Cafe24Supermagic";
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 9px 34px;
}

.find .list .tab_list ul li.item1.active button {
     background-color: #FF6000;
     border: 0;
}

.find .list .tab_list ul li.item2.active button {
    background-color: #FF9191;
    border: 0;
}

.find .list .tab_content {
    margin: 49px 0 0 0;
}
.find .list .tab_content .tab_item {
    display: none;
}
.find .list .tab_content .tab_item.active {
    display: block;
}
.find .list .tab_content .tab_item > ul {
    display: flex;
    justify-content: space-between;
}

.find .list .tab_content .tab_item > ul > li {
    width: calc(25% - 18px);
    /*여백의 총합 24+24+24 / 1줄에 나오는 li 갯수 4 = 18px */
}
.find .list .tab_content .tab_item > ul > li > a {
    display: block;
}
.find .list .tab_content .tab_item > ul > li> a .photo {
    overflow: hidden;
    height: 443px;
    border-radius: 35px;
}
.find .list .tab_content .tab_item > ul > li > a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.find .list .tab_content .tab_item > ul > li > a:hover .photo img {
   transform: scale3d(1.2,1.2,1);
}
.find .list .tab_content .tab_item > ul > li > a .subject {
    display: flex;
    gap: 16px;
    margin: 20px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a .subject strong {
    padding: 4px 30px;
    border-radius: 35px;
    font-size: 24px;
    font-family: "Cafe24Supermagic";
    white-space: nowrap;
}

.find .list .tab_content .tab_item > ul > li a .subject strong.cate_lost {
    background-color: #FF6000;
} 

.find .list .tab_content .tab_item > ul > li a .subject strong.cate_see {
    background-color: #FF9191;
}

.find .list .tab_content .tab_item > ul > li a .subject strong.cate_end {
    background-color: #B5B2AF;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_care {
    background-color: #76762C;
}
.find .list .tab_content .tab_item > ul > li a .subject h4 {
    font-size: 24px;
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.find .list .tab_content .tab_item > ul > li a ul.detail {
    margin: 16px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li {
    display: flex;
    gap: 13px;
    line-height: 1.5;
    font-size: 24px;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li strong {
    color: rgba(255,255,255,0.8);
    white-space: nowrap;
}

.find .list .tab_content .tab_item > ul > li a ul.detail li span {
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .emblem {
    position: absolute;
    left: 20px;
    bottom: -171px;
    mix-blend-mode: difference; 
    /*
      반전-흰색배경에서는 검은색(바탕색과 반대로)
      배경색이 흰색이라면 진짜 흰색을 배경색으로 깔아줘야 함. 그래야 적용됨
      ===>body에 흰색을 주면 됨
    */
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite; /*무제한*/
    animation-timing-function: linear; /*가속도 삭제*/
}
    
@media screen and (max-width:1400px){ 
    .find .emblem {
        display: none;
    }
}

@media screen and (max-width:1024px){
            .find {
                padding: 120px 0 98px 0;
            }
            .find .tit h2 {
                font-size: 38px;
            }
            .find .list {
                margin: 20px 0 0 0;
            }
            .find .list .tab_list ul li button {
                font-size: 20px;
                border-radius: 50px;
                padding: 8px 23px;
            }
            .find .list .tab_content .tab_item > ul {
                gap: 38px 16px;
                flex-wrap: wrap; /*줄바꿈허용*/
            
            }
            .find .list .tab_content .tab_item > ul > li {
                width: calc(50% - 8px);
                /*여백의 총합 16/2 = 8px */
            }
            .find .list .tab_content .tab_item > ul > li> a .photo {
                height: 200px;
                border-radius: 10px;
            }


}



@media screen and (max-width:768px){
                    .find {
                        padding: 100px 0 98px 0;
                    }
                    .find .tit h2 {
                        font-size: 30px;
                    }
                    
                    .find .list {
                        margin: 24px 0 0 0;
                    }
                    .find .list .tab_list ul {
                        gap: 20px; 
                    
                    }
                    .find .list .tab_list ul li button {
                        font-size: 18px;
                        border-radius: 50px;
                        padding: 8px 23px;
                    }
                                        
                    .find .list .tab_content {
                        margin: 40px 0 0 0;
                    }
                                      
                                 
                    .find .list .tab_content .tab_item > ul > li > a .subject {
                        display: block;
                        margin: 16px 0 0 0;
                        position: relative; /*strong 정렬의 기준*/
                    }
                    .find .list .tab_content .tab_item > ul > li a .subject strong {
                        position: absolute;
                        left: 0;
                        top: -47px;
                        padding: 4px 14px;
                        border-radius: 10px;
                        font-size: 15px;
                    }
                    
                    .find .list .tab_content .tab_item > ul > li a .subject h4 {
                        font-size: 18px;
                    
                    }
                    .find .list .tab_content .tab_item > ul > li a ul.detail {
                        margin: 2px 0 0 0;
                    }
                    .find .list .tab_content .tab_item > ul > li a ul.detail li {
                        display: block;
                        line-height: 1.3;
                        font-size: 18px;
                    }
                    .find .list .tab_content .tab_item > ul > li a ul.detail li strong {
                        display: none;
                    }
                    .find .list .tab_content .tab_item > ul > li a ul.detail li:last-child {
                        display: none;
                    }
                    .find .list .tab_content .tab_item > ul > li a ul.detail li span {
                        display: block;
                        color: rgba(255,255,255,0.8);
                    }
}



.slogan {
    margin: 233px 0 123px 0;
}

.slogan .sub_tit {
    font-size: 64px;
    font-family: "Cafe24Supermagic";
    font-weight: 700;
    text-align: center;
    color: #1d1d1d;
}
.slogan .sub_tit strong {
    display: inline-block;
}
.slogan .sub_tit span {
    display: inline-block;
    color: transparent;
    position: relative; /* before 정렬의 기준*/

}
.slogan .sub_tit span::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* span의 영역에 위아래 가운데 좌우에 가운데*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.slogan .sub_tit span.item1 {
    width: 3.07em;
    /*공백넓이 197px / 글자크기 64px = 3.07em
    글자크기만큼 줄어드는 단위
    1em은 현재 해당 요소에 상속된 글자크기를 1로 봄
    (상대크기, 소수점두자리까지)*/
}
.slogan .sub_tit span.item2 {
    width: 2.68em;
    /* 172 / 64 =2.68*/

}
.slogan .sub_tit span.item3 {
    width: 2.68em;
     /* 172 / 64 =2.68*/
}
.slogan .sub_tit span.item4 {
    width: 2.34em;
     /* 150 / 64 =2.34*/
}
.slogan .sub_tit span.item1::before {
    width: 2.49em;/*162/65=2.98*/
    height: 2.49em;/*162/65=*/
    background-image: url(../images/벤치\ 1.png);
    top : 0; 
}
.slogan .sub_tit span.item2::before {
    width: 2.32em;/*151/65=2.32*/
    height: 1.65em;/*107/65=*/
    background-image: url(../images/동물들.png);
}
.slogan .sub_tit span.item3::before {
    width: 2.46em;/*160/65=2.98*/
    height: 1.12em;/*73/65=*/
    background-image: url(../images/건물\ 1.png);
}
.slogan .sub_tit span.item4::before {
    width: 1.93em;/*126/65=2.98*/
    height: 1.56em;/*102/65=*/
    background-image: url(../images/손가락\ 1.png);
}
.slogan .ex_tit {
    font-size: 17px;
    margin: 48px 0 0 0;
    text-align: center;
    color: #1d1d1d;
}

@media screen and (max-width:1300px){
                    .slogan .sub_tit {
                        font-size: 55px;
                    }
}
@media screen and (max-width:1024px){
                    .slogan .sub_tit {
                        font-size: 42px;
                    }
                    .slogan .ex_tit br {
                        display: none;
                    }          
                }

@media screen and (max-width:768px){
                    .slogan {
                        margin: 117px 0 81px 0;
                    }
                    .slogan .sub_tit {
                        font-size: 30px;
                    }
                    .slogan .sub_tit br {
                        display: none;
                    }                  
                    .slogan .ex_tit {
                        font-size: 17px;
                        margin: 48px 0 0 0;
                        text-align: center;
                        color: #1d1d1d;
                    }  
                }


.adopt {
    padding: 200px 0 167px 0;
    background-color: #FFE6C7;
    text-align: center;
    position: relative; /*rolling 정렬의 기준*/
}
.adopt .tit {
    font-size: 40px;
    font-family: "Cafe24Supermagic";
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 50px 0;
}

.adopt .list {
    margin: 88px 0 0 0;
}
.adopt .list .swiper-slide {
    width: 298px;
}
.adopt .list .swiper-slide a {
    display: block;

}

.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: 298px;
    border-radius: 50%; /*동그라미*/
}

.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.adopt .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.adopt .list .swiper-slide a strong {
    display: inline-block;
    font-size: 24px;
    font-family: "Cafe24Supermagic";
    font-weight: 700;
    color: #fff;
    padding: 6px 34px;
    background-color: #FF6000;
    border-radius: 35px;
    transform: translateY(-20px);
}
.adopt .list .swiper-slide a strong.cate_care {
    background-color: #FF9191;
}

.adopt .list .swiper-slide a h3 {
    font-size: 24px;
    color: #1d1d1d;
}


.adopt .list .swiper-slide a p {
    margin: 5px 0 0 0;
    font-size: 20px;
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.adopt .list_ctrl {
    margin: 112px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.adopt .list_ctrl button {
    width: 34px;
    height: 34px;
    border: 1px solid #FF6000;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_114_20' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_114_20)'%3E%3Cpath d='M10.8333 23.8337L0 13.0003L10.8333 2.16699L12.7562 4.08991L3.84583 13.0003L12.7562 21.9107L10.8333 23.8337Z' fill='%23FF6000'/%3E%3C/g%3E%3C/svg%3E%0A");

}
.adopt .list_ctrl button.btn_next {
    transform: rotate(180deg);
}
.adopt .list_ctrl .more {
    line-height: 34px;
    height: 34px;
    border: 1px solid #FF6000;
    border-radius: 17px;
    padding: 0 22px 0 11px;
    position: relative;  /*before 정렬의 기준*/
}

.adopt .list_ctrl .more::before {
    content: "";
    position: absolute; /*more 기준으로*/
    right: 4px;
    top: 6px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_40_1624' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_40_1624)'%3E%3Cpath d='M6.79588 7.20397H3.67505V6.79564H6.79588V3.6748H7.20422V6.79564H10.325V7.20397H7.20422V10.3248H6.79588V7.20397Z' fill='%23FF6000'/%3E%3C/g%3E%3C/svg%3E%0A");

}
.adopt .rolling {
    position: absolute; /*adopt를 기준으로 정렬*/
    left: 0;
    bottom: 25px;
    width: 100%;
} 


.adopt .rolling p {
    position: absolute; /*adopt를 기준으로 정렬*/
    left: 0;
    bottom: 0;
    font-size: 96px;
    font-family: "Cafe24Supermagic";
    font-weight: 700;
    color: rgba(255,96,0,0.4);
    white-space: nowrap;

    animation-name: rolling;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear; /*가속도 삭제*/

}
@keyframes rolling {
    0% {left: 0;}
    100% {left: -8.93em;}
    
}

@media screen and (max-width:1024px){ 
                .adopt .tit {
                    font-size: 35px;
                    margin: 0 0 40px 0;
                }
                .adopt .list .swiper-slide {
                    width: 250px;
                }
                .adopt .list .swiper-slide a .photo {
                    height: 250px;
                }
                .adopt .rolling p {
                    font-size: 70px;
                }
}

@media screen and (max-width:768px){ 
                .adopt {
                    padding: 100px 0 167px 0;
                }
                .adopt .tit {
                    font-size: 30px;
                    margin: 0 0 40px 0;
                }
                .adopt .list .swiper {
                    padding-left: 16px;
                }
                .adopt .list .swiper-slide {
                    width: 200px;
                }
                .adopt .list .swiper-slide a .photo {
                    height: 200px;
                }
                .adopt .list .swiper-slide a strong {
                    font-size: 15px;
                    padding: 4px 12px;
                    border-radius: 50px;
                    transform: translateY(-10px);
                }
                .adopt .list .swiper-slide a h3 {
                    font-size: 18px;
                }
                .adopt .list .swiper-slide a p {
                    font-size: 16px;
                }

                .adopt .list_ctrl {
                    margin: 61px 0 0 0;
                }
                
                .adopt .list_ctrl button {
                    display: none;
                }

                .adopt .list_ctrl .more {
                    line-height: 33px;
                    height: 33px;
                    border-radius: 50px;
                    padding: 0 37px 0 24px;
                }
                
                .adopt .list_ctrl .more::before {
                    right: 14px;
                }
                .adopt .rolling {
                    bottom: 30px;
                } 
                .adopt .rolling p {
                    font-size: 50px;
                }

}



.review {
    margin: 253px 0 114px 0;
}
.review .wrapper {
    position: relative;
}
.review  .tit h2 {
    font-size: 45px;
    font-family: "Cafe24Supermagic";
    font-weight: 700;
    color: #1d1d1d;
    padding: 0 0 28px 0; /*선까지의 여백*/
    position: relative; /* before 정렬의 기준*/
}
.review  .tit h2::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%); /*나의 넓이의 절반을 왼쪽으로*/
    width: 100vw;/*브라우저 넓이 만큼 사이즈*/
    height: 1px;
    background-color: #ededed;
}
.review  .tit h2 strong {
    position: relative; /*before 정렬의 기준*/
}
.review  .tit h2 strong::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -27px;
    width: 100%;
    height: 3px;
    background-color: #FF6000;
    z-index: 1;

}
.review .list {
    margin: 43px 0 0 0;
    position: relative; /*이전다음버튼 정렬의기준*/
}

.review .list .swiper-slide a {
    display: block;
} 

.review .list .swiper-slide a .photo {
    overflow: hidden;
    height: 281px;
    
}

.review .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 사진을 자르지 않고 모두 보여주기*/
    transition: 0.5s;
}
.review .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
 }
.review .list .swiper-slide a h3 {
    margin: 28px 0 12px 0;
    color: #1d1d1d;
    font-size: 19px;
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.review .list .swiper-slide a p {
    /*2줄제한*/
    line-height: 1.5;
    height: 3em; /* 행간 * 줄수 = 단위는 em*/
    overflow: hidden;

    /*2줄제한 끝에 .. 추가*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-clamp: 2; /*줄수*/
}


.review .list .btn_prev,
.review .list .btn_next {
    position: absolute;
    top: 117px;
    width: 48px;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_83_188' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='48' height='48'%3E%3Crect width='48' height='48' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_83_188)'%3E%3Cpath d='M5.63855 23.9999L21.0691 39.4309C21.3641 39.7256 21.5097 40.0781 21.5061 40.4884C21.5021 40.8988 21.3526 41.2513 21.0576 41.5459C20.7629 41.8409 20.4104 41.9884 20.0001 41.9884C19.5897 41.9884 19.2372 41.8409 18.9426 41.5459L3.65755 26.2729C3.33455 25.9499 3.09872 25.5898 2.95005 25.1924C2.80138 24.7948 2.72705 24.3973 2.72705 23.9999C2.72705 23.6026 2.80138 23.2051 2.95005 22.8074C3.09872 22.4101 3.33455 22.0499 3.65755 21.7269L18.9426 6.44244C19.2372 6.14744 19.5917 6.00194 20.0061 6.00594C20.42 6.00961 20.7744 6.15894 21.0691 6.45394C21.3641 6.74861 21.5116 7.10111 21.5116 7.51144C21.5116 7.92177 21.3641 8.27427 21.0691 8.56894L5.63855 23.9999Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");

}
.review .list .btn_prev {
    left: -65px;
}
.review .list .btn_next {
    transform: rotate(180deg);
    right: -65px;
}
.review .more {
    position: absolute;
    right: 0;
    top: 0;
    display: flex; /*strong이랑 span좌우배치*/
    gap: 7px;
    align-items: center;
    padding-right: 48px;
}

.review .more strong {
    font-size: 45px;
    color: #FF6000;
    font-weight: 700;
}
.review .more::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 16px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9792 16.7708H1.27083C0.910764 16.7708 0.608941 16.6488 0.365365 16.4048C0.121788 16.1608 0 15.8586 0 15.4981C0 15.1376 0.121788 14.836 0.365365 14.5933C0.608941 14.3505 0.910764 14.2292 1.27083 14.2292H13.9792V1.52083C13.9792 1.16076 14.1012 0.858941 14.3452 0.615365C14.5892 0.371788 14.8914 0.25 15.2519 0.25C15.6124 0.25 15.914 0.371788 16.1567 0.615365C16.3995 0.858941 16.5208 1.16076 16.5208 1.52083V14.2292H29.2292C29.5892 14.2292 29.8911 14.3512 30.1346 14.5952C30.3782 14.8392 30.5 15.1414 30.5 15.5019C30.5 15.8624 30.3782 16.164 30.1346 16.4067C29.8911 16.6495 29.5892 16.7708 29.2292 16.7708H16.5208V29.4792C16.5208 29.8392 16.3988 30.1411 16.1548 30.3846C15.9108 30.6282 15.6086 30.75 15.2481 30.75C14.8876 30.75 14.586 30.6282 14.3433 30.3846C14.1005 30.1411 13.9792 29.8392 13.9792 29.4792V16.7708Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1400px){ 
    .review .list .btn_prev,
    .review .list .btn_next {
        display: none;
    }
}
@media screen and (max-width:1024px){ 
    .review  .tit h2 {
        font-size: 35px;
        padding: 0 0 20px 0; /*선까지의 여백*/
    }
    .review .more strong {
        font-size: 30px;
    }
    .review .more::after {
        width: 25px;
        height: 25px;
    }

} 
@media screen and (max-width:768px){ 
    .review .list .swiper-slide {
        width: 180px;
    }
    .review {
        margin: 104px 0 114px 0;
    }
    .review  .tit h2 {
        font-size: 30px;
        padding: 0 0 18px 0; /*선까지의 여백*/
    }
    .review  .tit h2 strong::before {
        bottom: -16px;
    }
    .review .list {
        margin: 31px 0 0 0;
    }
    .review .list .swiper-slide a .photo {
        height: 183px;
    }
    .review .list .swiper-slide a h3 {
        margin: 18px 0 10px 0;
        font-size: 18px;
    }    
    
    .review .list .btn_prev,
    .review .list .btn_next {
        display: none;
    }
    .review .more {
        top: 16px;
        padding-right: 0;
        width: 20px;
        height: 20px;
    }
    
    .review .more strong,
    .review .more span {
        display: none;
    }
    .review .more::after {
        top: 0px;
        width: 100%;
        height: 100%;
        background-size: contain;
    }
    
}

footer {
    padding: 92px 0 150px 0;
    background-color: #2D2D2D;
    position: relative; /*top정렬의 기준*/
}
footer .wrapper {
    position: relative;/*top정렬의 기준*/
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
    

footer .top {
    position: absolute;
    right: 0px;
    bottom: 50px;
    mix-blend-mode: difference;
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite; /*무제한*/
    animation-timing-function: linear; /*가속도 삭제*/
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
footer .top_1 {
    position: absolute;
    right: 0px;
    top: -118px;
    width: 55px;
    height: 55px;
    border-radius: 20px;
    background-color: #FF6000;
    color: #fff;
    padding: 23px 0 0 0;
    text-align: center;
}
footer .top_1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_134_160' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_134_160)'%3E%3Cpath d='M11 18V8.8L7.4 12.4L6 11L12 5L18 11L16.6 12.4L13 8.8V18H11Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
 }
footer .link_wrap ul.link li a {
    display: block;
    text-align: right;
    padding-right: 33px;
    position: relative;
 }
footer .link_wrap ul.link li a::after { 
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    width: 19px;
    height: 19px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_83_205' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_83_205)'%3E%3Cpath d='M4.20189 16.2288C3.80196 16.2288 3.46346 16.0903 3.18638 15.8132C2.90929 15.5361 2.77075 15.1976 2.77075 14.7977V4.20164C2.77075 3.80172 2.90929 3.46322 3.18638 3.18613C3.46346 2.90905 3.80196 2.77051 4.20189 2.77051H8.60157C8.77007 2.77051 8.91118 2.82738 9.02492 2.94111C9.13852 3.05472 9.19532 3.19576 9.19532 3.36426C9.19532 3.53275 9.13852 3.6738 9.02492 3.7874C8.91118 3.90114 8.77007 3.95801 8.60157 3.95801H4.20189C4.14093 3.95801 4.08512 3.98341 4.03445 4.03421C3.98365 4.08487 3.95825 4.14068 3.95825 4.20164V14.7977C3.95825 14.8587 3.98365 14.9145 4.03445 14.9651C4.08512 15.0159 4.14093 15.0413 4.20189 15.0413H14.7979C14.8589 15.0413 14.9147 15.0159 14.9654 14.9651C15.0162 14.9145 15.0416 14.8587 15.0416 14.7977V10.398C15.0416 10.2295 15.0985 10.0884 15.2122 9.97467C15.3258 9.86107 15.4668 9.80427 15.6353 9.80427C15.8038 9.80427 15.9449 9.86107 16.0585 9.97467C16.1722 10.0884 16.2291 10.2295 16.2291 10.398V14.7977C16.2291 15.1976 16.0905 15.5361 15.8135 15.8132C15.5364 16.0903 15.1979 16.2288 14.7979 16.2288H4.20189ZM15.0416 4.79223L8.11153 11.7225C8.00189 11.832 7.86407 11.8881 7.69808 11.8907C7.53223 11.8932 7.39191 11.8371 7.27712 11.7225C7.16246 11.6077 7.10513 11.4686 7.10513 11.3053C7.10513 11.1419 7.16246 11.0029 7.27712 10.8881L14.2074 3.95801H11.677C11.5085 3.95801 11.3675 3.90114 11.2539 3.7874C11.1401 3.6738 11.0833 3.53275 11.0833 3.36426C11.0833 3.19576 11.1401 3.05472 11.2539 2.94111C11.3675 2.82738 11.5085 2.77051 11.677 2.77051H15.5134C15.7175 2.77051 15.8878 2.83879 16.0242 2.97535C16.1608 3.11178 16.2291 3.28206 16.2291 3.48617V7.32259C16.2291 7.49108 16.1722 7.63213 16.0585 7.74574C15.9449 7.85947 15.8038 7.91634 15.6353 7.91634C15.4668 7.91634 15.3258 7.85947 15.2122 7.74574C15.0985 7.63213 15.0416 7.49108 15.0416 7.32259V4.79223Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0 0;
    gap: 5px;
    
}
footer .link_wrap ul.sns a {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #535353;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.sns li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='25' viewBox='0 0 13 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1547 14.0612L12.8296 9.5355H8.60986V6.60258C8.60986 5.36766 9.19612 4.16082 11.0844 4.16082H13V0.308725C13 0.308725 11.2617 0 9.59833 0C6.12848 0 3.85842 2.16812 3.85842 6.09037V9.5355H0V14.0612H3.85842V25H8.60986V14.0612H12.1547Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.twitter a {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8933 2.2723C21.197 2.60299 20.4245 2.80567 19.6672 2.93901C20.023 2.87501 20.5515 2.19763 20.7599 1.92028C21.0801 1.49892 21.3495 1.02422 21.4968 0.506849C21.5172 0.464179 21.5324 0.416178 21.4968 0.384176C21.446 0.362841 21.4155 0.373511 21.38 0.394846C20.5363 0.869544 19.6672 1.2109 18.7422 1.45625C18.666 1.47758 18.6101 1.45625 18.5593 1.40824C18.483 1.31757 18.4119 1.23224 18.3306 1.1629C17.9392 0.816209 17.5225 0.544186 17.0549 0.341505C16.4349 0.0748207 15.7589 -0.0371843 15.0932 0.010819C14.4477 0.0534885 13.8073 0.245501 13.233 0.560189C12.6587 0.874877 12.1403 1.31758 11.7337 1.84561C11.3119 2.39498 10.9968 3.04036 10.8392 3.7284C10.6868 4.38978 10.6969 5.04582 10.7935 5.71787C10.8088 5.82988 10.7935 5.84588 10.702 5.82988C7.07835 5.26451 4.07471 3.90442 1.64029 0.986886C1.53356 0.858877 1.47765 0.858871 1.39125 0.997547C0.323964 2.67766 0.842363 5.37118 2.17393 6.69394C2.35181 6.86995 2.53477 7.04596 2.73298 7.20597C2.66183 7.22197 1.77243 7.12063 0.98467 6.69394C0.877941 6.6246 0.827109 6.66193 0.816945 6.78994C0.80678 6.97128 0.816944 7.13663 0.847437 7.33398C1.05073 9.03543 2.17393 10.6089 3.71386 11.2222C3.89683 11.3022 4.10013 11.3716 4.29325 11.4089C3.94258 11.4889 3.58172 11.5476 2.5805 11.4623C2.45345 11.4356 2.40771 11.5049 2.45345 11.6276C3.21071 13.7877 4.83705 14.4278 6.0568 14.7958C6.21943 14.8278 6.38207 14.8278 6.54978 14.8652C6.53962 14.8812 6.52946 14.8812 6.51929 14.8972C6.11271 15.5425 4.70999 16.0279 4.05946 16.2679C2.8702 16.7053 1.57929 16.8973 0.323961 16.7693C0.120669 16.7373 0.0800119 16.7426 0.0241066 16.7693C-0.0317987 16.8066 0.0190324 16.8546 0.08002 16.908C0.334135 17.084 0.593332 17.2386 0.857612 17.3933C1.65553 17.836 2.48902 18.188 3.3581 18.4441C7.85085 19.7455 12.9078 18.7908 16.2773 15.2758C18.9252 12.513 19.8553 8.70474 19.8553 4.89648C19.8553 4.74714 20.023 4.66713 20.1246 4.58713C20.8158 4.04309 21.3698 3.39238 21.8831 2.667C22 2.50165 22 2.35764 22 2.29897V2.27764C22 2.21897 22 2.23497 21.9085 2.27764L21.8933 2.2723Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.blog a {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0V17H11.9599L6.04014 8.44154V17H0V0H6.04014L11.9599 8.90254V0H18Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.daum a {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1719 0.00341118H0V22H10.1719C16.1513 22 21 17.0743 21 11C21 4.92573 16.1513 0 10.1719 0V0.00341118ZM10.3839 14.9549H6.72969V7.04848H10.3839C12.534 7.04848 14.2737 8.81914 14.2737 11C14.2737 13.1809 12.5307 14.9515 10.3839 14.9515V14.9549Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .infor_wrap .infor ul {
    display: flex;
    gap: 42px;
    margin: 0 0 21px 0;
    flex-wrap: wrap; /*브라우저사이즈 작아질때 줄바꿈 하라고 허용*/
}
footer .infor_wrap .infor ul li {
    position: relative;
}
footer .infor_wrap .infor ul li::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 7px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.2);
}
footer .infor_wrap .infor ul li:first-child::after {
    display: none;
}
footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
}

@media screen and (max-width:1024px){
    footer {
        padding: 100px 0 82px 0;
    }
    footer .wrapper {
        display: block;
    }
            
    footer .top {
        display: none;
    }
  
    footer .top_1 {
        display: none;
    }
    footer .link_wrap ul.link li a {
        display: none;
     }
    footer .link_wrap ul.sns {
        justify-content: flex-start
    }
    footer .link_wrap ul.sns li.facebook a { 
        background-size: 12px;
    }
        
    footer .link_wrap ul.sns li.twitter a {
        background-size: 17px;
    }
    footer .link_wrap ul.sns li.blog a {
        background-size: 15px;
    }
    footer .link_wrap ul.sns li.daum a {
        background-size: 15px;
    }
    footer .infor_wrap {
        margin: 38px 0 0 0;
    } 
    footer .infor_wrap .infor ul {
        gap: 42px;
        margin: 0 0 15px 0;
        flex-wrap: nowrap; /*브라우저사이즈 작아질때 줄바꿈 하라고 허용*/
    }
    footer .infor_wrap .infor ul li {
        position: relative;
    }
   
    footer .copyright {
        position: absolute;
        left: 0;
        bottom: 0;
    }
 
}