/*1. 모든페이지에 공통적으로 들어가는기본(글자만) 스타일*/
body {
    font-family: NanumSquareNeo;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    word-break: keep-all;
}
.wrapper {
    width :1260px; /*내 디자인 파일 레이아웃 가이드 넓이*/
    margin: 0 auto; /*브라우저 가운데 정렬*/
}
#wrap {
    min-width: 1308px;
    position: relative;
}
/*id부를때 #를 붙여서 #wrap
  양쪽여백 24줄때
  1260 + 24 + 24 = 1308*/

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
  }
  /*아이콘만 있고 글자를 숨겨야하는 경우 blind를 준다*/
