@import url(default.css);
@import url(res_common.css);
@import url(font.css);

.news {
    margin: 173px 0 0 0;
}
.news .wrapper {
    display: flex;
    justify-content: space-between;
    /*h2랑 list 좌우배치, more는 absolute라 제외*/
    position: relative;
}
.news h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
}
.news .list {
    width: 74.44%;
    /*
    넓이는 %로 계산 - 콘텐츠 넓이에서 몇%로 계산
    938/1260*100% = 74.44%
        */
       
}
.news .list ul li {
    border-bottom: 1px solid #ccc;
}
.news .list ul li a {
    display: flex; /* txt와 photo 좌우로 배치*/
    justify-content: space-between;
    padding: 27px 0;
    align-items: center /*위아래 가운데*/
    
}
.news .list ul li a .text {
    width: calc(100% - 250px);
    
}/* 사진의 넓이는 고정,
    제목이 들어갈수 있는 넓이는 브라우저 넓이에 따라 바뀜
    글자와 사진 전체의 넓이 100% - 사진의 넓이와 여백값px
    strong은 블럭, stan은 인라인블록*/

.news .list ul li a .text strong {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    color: #1d1d1d;
    display: block;
    margin: 0 0 11px 0 ;
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}    

.news .list ul li a .photo {
    width: 190px;
    height: 147px;
    overflow: hidden;
    border-radius: 25px;
}
.news .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .more {
    position: absolute;
    left: 0;
    top: 80px;
    padding: 0 30px 0 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
}
.news .more::after {
    content: "";
    position: absolute;
    right: 9px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_17' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_17)'%3E%3Cpath d='M6.875 13.125V8.125H1.875V6.875H6.875V1.875H8.125V6.875H13.125V8.125H8.125V13.125H6.875Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s; /* 오버후에 속성이 변경되면 1초동안 천천히 실행*/

}
.news .more:hover::after {
    transform: rotate(365deg);
}

@media screen and (max-width:640px) {
        .news {
            margin: 63px 0 0 0;
        }
        .news .wrapper {
            display: block; /*flex안함*/
                       
        }
        .news h2 {
            font-size: 25px;
        }
        .news .list {
            width: auto /*원래 속성대로 div이기 때문에 100%들어감*/
            
            
        }
        .news .list ul li a {
            padding: 16px 0;
            align-items: flex-start /*위*/
            
        }
        .news .list ul li a .text {
            width: calc(100% - 111px);
            
        }/* 사진의 넓이는 고정,
            제목이 들어갈수 있는 넓이는 브라우저 넓이에 따라 바뀜
            글자와 사진 전체의 넓이 100% - 사진의 넓이와 여백값px
            strong은 블럭, stan은 인라인블록*/
        
        .news .list ul li a .text strong {
            font-size: 16px;
            margin: 0 0 8px 0 ;
            /*텍스트 줄 무제한*/
            white-space: normal; /* nowrap 제거*/
            overflow: visible; /* hidden 제거*/
            
        }    
        
        .news .list ul li a .photo {
            width: 96px;
            height: 76px;
            
            border-radius: 15px;
        }
        .news .more {
            left: auto;
            right: 0; 
            /*left정렬에서 rifht정렬로 변경하려면
            left:suto로 해제하고 right를 줘야함*/
            top: 0;
            padding: 0 30px 0 15px;
            border-radius: 15px;
        }
        .news .more::after {
            right: 9px;
            top: 5px;
        }
        
        
}
/*브라우저 사이즈가 640px 이하일때만 적용되는 스타일*/



.global {
    margin: 230px 0 0 0;
}
.global .wrapper {
    display: flex; /*text랑 photo 좌우배치*/
    justify-content: space-between;
}
.global .txet {
    width: calc(50% - 12px);
    /* 2개니깐 50%에 둘 사이의 여백의 절반을 빼준다*/
    padding: 31px 0;
    /*왼쪽 글자의 높이에 padding만큼 오른쪽 이미지가 늘어남*/
}
.global .txet h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 32px 0;
    position: relative;
}
.global .txet h2::after {
    content: "";
    position: absolute;
    background-color: #cccccc;
    left: 0;
    bottom: -15px;
    height: 1px;
    width: 142px;

}
.global .photo {
    width: calc(50% - 12px);
    overflow: hidden;
    border-radius: 41px;
}
.global .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:640px) {
            .global {
                margin: 75px 0 0 0;
            }
        
            .global .txet {
                width: calc(50% - 8px);
                /* 2개니깐 50%에 둘 사이의 여백의 절반을 빼준다*/
                padding: 24px 0;
                /*왼쪽 글자의 높이에 padding만큼 오른쪽 이미지가 늘어남*/
            }
            .global .txet h2 {
                font-size: 25px;
                margin: 0 0 18px 0;
                
            }
            .global .txet h2 br {
                display: none;
            }
            .global .txet p br {
                display: none;
            }
            .global .txet h2::after {
                bottom: -11px;
                width: 84px;
            
            }
            .global .photo {
                width: calc(50% - 8px);
                
                border-radius: 15px;
            }
            
        }      


.esg {
    margin: 139px 0 0 0;
}
.esg .tit h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 12px 0;
}
.esg .list {
    margin: 56px 0 0 0;
}
.esg .list ul {
    display: flex;
    justify-content: space-between;
}
.esg .list ul li {
    width: calc(25% - 18px);
    /*100% / 1줄에 나오는 갯수 100/4 = 25%
     1줄 여백의 총합 / 1줄에 나오는 갯수  24+24+24 / 4 = 72/4 = 18*/
}
.esg .list ul li a {
    display: flex;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    align-items: flex-end; /*아래 정렬*/
    justify-content: center; /*좌우 가운데*/
    padding: 0 0 48px 0 ;
}
.esg .list ul li.list1 a {
    background-image: url(../images/esg1.jpg);
    height: 417px;
}
.esg .list ul li.list2 a {
    background-image: url(../images/esg2.jpg);
}
.esg .list ul li.list3 a {
    background-image: url(../images/esg3.jpg);
}
.esg .list ul li.list4 a {
    background-image: url(../images/esg4.jpg);
}

@media screen and (max-width:640px) {
            .esg {
                margin: 102px 0 0 0;
            }
            .esg .tit h2 {
                font-size: 25px;  
                margin: 0 0 4px 0;
            }
            .esg .list {
                margin: 27px 0 0 0;
            }
            .esg .list ul {
                justify-content: space-between;
                row-gap: 16px;
                flex-wrap: wrap /*2줄 허용*/
                
                
            }
            .esg .list ul li {
                width: calc(50% - 8px);
                /*100% / 1줄에 나오는 갯수 100/2 = 50%
                1줄 여백의 총합 / 1줄에 나오는 갯수  16 / 2 = 8*/
                
            }
            .esg .list ul li a {
                height: 140px;
                border-radius: 7px;
                font-size: 16px;
                align-items: center; /*위아래 가운데 정렬*/
                padding: 0 ; /* 여백 삭제*/
                


            }
           
}
.esg-fix {
    margin: 120px 0 0 0;

}
.esg-fix .wrapper {
    display: flex;
    justify-content: space-between;
}
.esg-fix .tit {
    width: 23.57%;
    /*297px / 1260 * 100 = 23.57%*/
    position: sticky;
    top: 20px;
    align-items: flex-start;
}



.esg-fix .list {
    width: 49.07%;
    /*618 / 1260 * 100 = 49.07*/
}
.esg-fix .list ul li a {
    display: block;
    height: 417px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.esg-fix .list ul li.list1 a {
    background-image: url(../images/esg1.jpg);
}
.esg-fix .list ul li.list2 a {
    background-image: url(../images/esg2.jpg);
}
.esg-fix .list ul li.list3 a {
    background-image: url(../images/esg3.jpg);
}
.esg-fix .list ul li.list4 a {
    background-image: url(../images/esg4.jpg);
}
.esg-fix .tit h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 12px 0;
}






@media screen and (max-width:640px) {

}







    body {
    margin: 0 0 200px 0;
}