@import url(font.css);
@import url(common_full.css);
@import url(default.css);


.visual {
    position: relative; /*btn_wrap 정렬의 기준*/
}

.visual .popup .popup_wrap .popup_item {
    height: 900px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .popup .popup_wrap .popup_item.bg1 {
    background-image: url(../images/popup-1.jpg);
}
.visual .popup .popup_wrap .popup_item.bg2 {
    background-image: url(../images/popup-2.jpg);
}
.visual .popup .popup_wrap .popup_item.bg3 {
    background-image: url(../images/popup-3.jpg);
}
.visual .popup .popup_wrap .popup_item h3 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    padding: 342px 0 20px 0;
}

.visual .slick-prev,
.visual .slick-next {
    position: absolute; /*popup_wrap 기준으로 정렬*/
    left: 20px;
    top: 368px;
    width: 76px;
    height: 76px;
    z-index: 10;
    color: transparent; /*글자 안보이게*/
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_52_90' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='76' height='76'%3E%3Crect width='76' height='76' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_52_90)'%3E%3Cpath d='M29.0842 37.9992L52.9379 61.8529C53.567 62.482 53.8737 63.2228 53.8578 64.0751C53.8415 64.928 53.5187 65.669 52.8896 66.2981C52.26 66.9272 51.519 67.2418 50.6666 67.2418C49.8143 67.2418 49.0733 66.9272 48.4436 66.2981L24.1521 42.0549C23.5795 41.4823 23.1552 40.8407 22.8791 40.1304C22.6031 39.42 22.4651 38.7096 22.4651 37.9992C22.4651 37.2888 22.6031 36.5784 22.8791 35.868C23.1552 35.1576 23.5795 34.5161 24.1521 33.9435L48.4436 9.65119C49.0733 9.02208 49.8225 8.71571 50.6912 8.73207C51.5599 8.74843 52.3088 9.07116 52.9379 9.70027C53.567 10.3294 53.8816 11.0704 53.8816 11.9233C53.8816 12.7756 53.567 13.5164 52.9379 14.1455L29.0842 37.9992Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .slick-next {
    left: auto;
    right: 20px;
    transform: rotate(180deg);
}

.visual ul.slick-dots {
    position: absolute; /*popup_wrap을 기준으로 정렬*/
    right: 50%;
    bottom: 30px;
    display: flex; /*li를 좌우로 배치*/
    gap: 9px;
}

.visual ul.slick-dots li button {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: transparent; /*숫자 투명하게*/
}
.visual ul.slick-dots li.slick-active button {
    background-color: #fff;
}
.visual .btn_wrap {
    position: absolute; /*visual을 기준으로 정렬*/
    left: calc(50% + 10px);
    bottom: 29px;
    display: flex;
     /**********js 요소에 display:inline-block을 줘서 코딩이 틀어진걸 바로잡기위해
        아래 행간이 발생된걸
     *************/
    
    

}
.visual .btn_wrap .ctrl_stop {
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_81_442' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='9.66162' height='9.66162' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_81_442)'%3E%3Cpath d='M5.63607 7.64864V2.0127H7.24634V7.64864H5.63607ZM2.41553 7.64864V2.0127H4.0258V7.64864H2.41553Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap .ctrl_play {
    display: none; /*처음에는 숨김*/
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_81_447' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_81_447)'%3E%3Cpath d='M5.4165 9.20817V3.7915L8.12484 6.49984L5.4165 9.20817Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1440px) {
    .visual .slick-prev,
    .visual .slick-next {
        display: none !important; 
        /*css 적용 우선순위 상관없이 무조건 먼저 실행하도록 하는 명령
           !important --단 주의, 하나의 요소에 pc버전과 모바일버전에
           각각 있다면 스타일이 꼬이게 된다*/
    }
 }

 @media screen and (max-width:768px) {
    .visual .popup .popup_wrap .popup_item {
        height: 600px;
    }
    .visual .popup .popup_wrap .popup_item h3 {
        font-size: 32px;
        padding: 200px 0 15px 0;
    }
    .visual ul.slick-dots {
        bottom: 25px;  
    }
 }

.biz {
    margin: 116px 0 0 0;
}
.biz .tit h2 {
    font-size: 48px;
    font-weight: 800;
    color: #1d1d1d;
}
.biz .list {
    margin: 64px 0 0 0;
    width: calc(100% + 24px);
}

.biz .list .list_wrap .list_item {
    margin-right: 24px;
}

.biz .list .list_wrap .list_item a {
    display: block;
}

.biz .list .list_wrap .list_item a .photo {
    overflow: hidden;
    height: 395px;
}

.biz .list .list_wrap .list_item a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biz .list .list_wrap .list_item a h3 {
    font-size: 24px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 24px 0 12px 0;
}

@media screen and (max-width:768px) { 
    .biz {
        margin: 70px 0 0 0;
    }
    .biz .tit h2 {
        font-size: 25px;
    }
    .biz .list {
        margin: 24px 0 0 0;
        width: calc(100% + 16px);
    }
    
    .biz .list .list_wrap .list_item {
        margin-right: 16px;
    }
    
    .biz .list .list_wrap .list_item a .photo {
        height: 222px;
    }
    
    
    .biz .list .list_wrap .list_item a h3 {
        font-size: 20px;
        margin: 16px 0 10px 0;
    }


}

.news {
    margin: 242px 0 0 0;
    padding: 150px 0 184px 0;
    background-color: #B197A2;
    color: #fff;
}

.news .tit h2 {
    font-size: 48px;
    font-weight: 800;
}
.news .list {
    margin: 51px 0 0 0;
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
}

.news .list .list_wrap .list_item {
    width: 404px;
    margin-right: 24px;
}
.news .list .list_wrap .list_item a {
    display: block;
    background-color: #fff;
    border-radius: 20px;
    color: #555;
}

.news .list .list_wrap .list_item a .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 20px 20px 0 0;
}

.news .list .list_wrap .list_item a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news .list .list_wrap .list_item a .txt {
    padding: 40px 27px ;
}
.news .list .list_wrap .list_item a .txt h3 {
    font-size: 24px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}




@media screen and (max-width:1300px) {
    
    .news .list {
        margin: 24px 0 0 0;
        width: calc(100% - 20px);
        left: 20px;
    }
}


@media screen and (max-width:768px) {
    .news {
        margin: 24px 0 0 0;
        padding: 56px 0 49px 0;
    }
    
    .news .tit h2 {
        font-size: 20px;
    }
    .news .list {
        margin: 30px 0 0 0;
    }
    
    .news .list .list_wrap .list_item {
        width: 247px;
    }
    .news .list .list_wrap .list_item a {
        border-radius: 10px;
    }
    
    .news .list .list_wrap .list_item a .photo {
        height: 238px;
        border-radius: 10px 10px 0 0;
    }
    .news .list .list_wrap .list_item a .txt {
        padding: 22px 17px ;
    }
    
    .news .list .list_wrap .list_item a .txt h3 {
        font-size: 20px;
    }
 }












 footer {
    margin: 100px 0 0 0;
 }