/* 웹폰트를 선언 */

@font-face {
	font-family: 'TheJamsil';
	font-weight: 700;
	font-display: swap;
	src: local('TheJamsil5Bold'), 
	url(../font/TheJamsil5Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'TheJamsil';
	font-weight: 400;
	font-display: swap;
	src: local('TheJamsil3Regular'), 
	url(../font/TheJamsil3Regular.woff2) format('woff2');
}