@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);



#fp-nav.fp-left {
    left: 20px;
}

#fp-nav {
    position: fixed;
    z-index: 100;
    top: 50%;    /*??????????*/
}
#fp-nav ul li {
    display: block;
    width: auto;
    height: auto;
    margin: 5px 0; 
    position: relative;
    padding-left: 20px;
}
#fp-nav ul li:last-child {
    display: none;
}
#fp-nav ul li a {
    display: block;
    position: absolute; /*li기준으로 정렬*/
    z-index: 1;
    left: 0;
    top: 0;
}
#fp-nav ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#fp-nav ul li a.active::before,
#fp-nav ul li.hover a::before {
    background-color: #3F48D2;
    border-color: #3F48D2;
}
#fp-nav ul li a.active::after,
#fp-nav ul li.hover a::after {
    content: "";
    position: absolute;
    left: -50px;
    top: 12px;
    width: 60px;
    height: 1px;
    background-color: #3F48D2;
}

#fp-nav ul li a span {
    display: none; /*숨김*/
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active+.fp-tooltip {
    /*마우스오버했거나 선택됐을때*/
    background-color: #3F48D2;
    font-weight: 700;

}
#fp-nav ul li .fp-tooltip.fp-left {
    left: auto;
}
#fp-nav ul li .fp-tooltip {
    /*absolute 안할꺼임*/
    position: relative;
    top: auto;
    color: #fff;
    font-size: 17px;
    font-family: inherit;
    white-space: nowrap; /*한줄로*/
    max-width: auto;
    overflow: visible;
    display: inline-block;
    opacity: 1;
    width: auto;
    padding: 0 5px;
    border-radius: 3px;
}




.quick {
    position: fixed;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 999;
}

.quick .detail ul li {
    border: 1px solid #4d4d4d;
    border-bottom: 0;
    
}
.quick .detail ul li:last-child {
    border-bottom: 1px solid #4d4d4d;
}

.quick .detail ul li a {
    display: block;
    padding: 55px 10px 5px 10px;
    text-align: center;
    position: relative;
}

.quick .detail ul li a::after {
    content: "";
    position: absolute;
    left: 30%;
    background-position: center center;
    background-repeat: no-repeat;
}

.quick .detail ul li.calender a::after {
    top: 16%;
    width: 32px;
    height: 34px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='34' viewBox='0 0 32 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.7049 2.03929H25.374V0.4714C25.374 0.210879 25.1629 0 24.902 0C24.6412 0 24.43 0.210879 24.43 0.4714V2.03929H16.472V0.4714C16.472 0.210879 16.2608 0 16 0C15.7392 0 15.528 0.210879 15.528 0.4714V2.03929H7.56997V0.4714C7.56997 0.210879 7.35883 0 7.09799 0C6.83715 0 6.62601 0.210879 6.62601 0.4714V2.03929H4.29514C1.92689 2.03929 0 3.96381 0 6.32955V29.7101C0 32.0755 1.92689 34 4.29514 34H27.7049C30.0731 34 32 32.0755 32 29.7101V6.32955C32 3.96421 30.0731 2.03969 27.7049 2.03969V2.03929ZM31.0556 29.7101C31.0556 31.5556 29.5522 33.0572 27.7045 33.0572H4.29514C2.44738 33.0572 0.94396 31.5556 0.94396 29.7101V6.32955C0.94396 4.48406 2.44738 2.98249 4.29514 2.98249H6.62601V5.21956C5.81486 5.42925 5.21444 6.16633 5.21444 7.04122C5.21444 8.07854 6.05939 8.92245 7.09799 8.92245C8.13658 8.92245 8.98153 8.07854 8.98153 7.04122C8.98153 6.16673 8.38072 5.42964 7.56997 5.21956V2.98249H15.528V5.21956C14.7173 5.42925 14.1165 6.16633 14.1165 7.04122C14.1165 8.07854 14.9614 8.92245 16 8.92245C17.0386 8.92245 17.8835 8.07854 17.8835 7.04122C17.8835 6.16673 17.2827 5.42964 16.472 5.21956V2.98249H24.43V5.21956C23.6189 5.42925 23.0185 6.16633 23.0185 7.04122C23.0185 8.07854 23.8634 8.92245 24.902 8.92245C25.9406 8.92245 26.7856 8.07854 26.7856 7.04122C26.7856 6.16673 26.1847 5.42964 25.374 5.21956V2.98249H27.7049C29.5526 2.98249 31.056 4.48406 31.056 6.32955V29.7101H31.0556ZM7.09799 7.06823C7.35883 7.06823 7.56997 6.85735 7.56997 6.59683V6.22987C7.8491 6.3927 8.03758 6.69492 8.03758 7.04082C8.03758 7.55829 7.61609 7.97926 7.09799 7.97926C6.57989 7.97926 6.1584 7.55829 6.1584 7.04082C6.1584 6.69531 6.34648 6.3927 6.62601 6.22987V6.59683C6.62601 6.85735 6.83715 7.06823 7.09799 7.06823ZM16 7.06823C16.2608 7.06823 16.472 6.85735 16.472 6.59683V6.22987C16.7515 6.3927 16.9396 6.69531 16.9396 7.04082C16.9396 7.55829 16.5181 7.97926 16 7.97926C15.4819 7.97926 15.0604 7.55829 15.0604 7.04082C15.0604 6.69531 15.2485 6.3927 15.528 6.22987V6.59683C15.528 6.85735 15.7392 7.06823 16 7.06823ZM24.902 7.06823C25.1629 7.06823 25.374 6.85735 25.374 6.59683V6.22987C25.6535 6.3927 25.8416 6.69531 25.8416 7.04082C25.8416 7.55829 25.4201 7.97926 24.902 7.97926C24.3839 7.97926 23.9624 7.55829 23.9624 7.04082C23.9624 6.69531 24.1505 6.3927 24.43 6.22987V6.59683C24.43 6.85735 24.6412 7.06823 24.902 7.06823Z' fill='%234D4D4D'/%3E%3Cpath d='M27.8096 13H4.19045C2.98249 13 2 13.9873 2 15.2012V29.7988C2 31.0127 2.98249 32 4.19045 32H27.8096C29.0175 32 30 31.0127 30 29.7988V15.2012C30 13.9873 29.0175 13 27.8096 13ZM29.0472 29.7992C29.0472 30.4853 28.492 31.0433 27.8092 31.0433H4.19045C3.50804 31.0433 2.9524 30.4853 2.9524 29.7992V15.2016C2.9524 14.5155 3.50764 13.9575 4.19045 13.9575H27.8096C28.492 13.9575 29.0476 14.5155 29.0476 15.2016V29.7992H29.0472Z' fill='%234D4D4D'/%3E%3Cpath d='M14.4765 16H12.5235C12.2344 16 12 16.3453 12 16.7714V19.2286C12 19.6547 12.2344 20 12.5235 20H14.4765C14.7656 20 15 19.6547 15 19.2286V16.7714C15 16.3453 14.7656 16 14.4765 16Z' fill='%234D4D4D'/%3E%3Cpath d='M19.4765 16H17.5235C17.2344 16 17 16.3453 17 16.7714V19.2286C17 19.6547 17.2344 20 17.5235 20H19.4765C19.7656 20 20 19.6547 20 19.2286V16.7714C20 16.3453 19.7656 16 19.4765 16Z' fill='%234D4D4D'/%3E%3Cpath d='M25.3021 16H22.6979C22.3125 16 22 16.3453 22 16.7714V19.2286C22 19.6547 22.3125 20 22.6979 20H25.3021C25.6875 20 26 19.6547 26 19.2286V16.7714C26 16.3453 25.6875 16 25.3021 16Z' fill='%234D4D4D'/%3E%3Cpath d='M9.30206 21H6.69794C6.31248 21 6 21.259 6 21.5785V23.4215C6 23.741 6.31248 24 6.69794 24H9.30206C9.68752 24 10 23.741 10 23.4215V21.5785C10 21.259 9.68752 21 9.30206 21Z' fill='%234D4D4D'/%3E%3Cpath d='M14.4765 21H12.5235C12.2344 21 12 21.259 12 21.5785V23.4215C12 23.741 12.2344 24 12.5235 24H14.4765C14.7656 24 15 23.741 15 23.4215V21.5785C15 21.259 14.7656 21 14.4765 21Z' fill='%234D4D4D'/%3E%3Cpath d='M19.4765 21H17.5235C17.2344 21 17 21.259 17 21.5785V23.4215C17 23.741 17.2344 24 17.5235 24H19.4765C19.7656 24 20 23.741 20 23.4215V21.5785C20 21.259 19.7656 21 19.4765 21Z' fill='%234D4D4D'/%3E%3Cpath d='M25.3021 21H22.6979C22.3125 21 22 21.259 22 21.5785V23.4215C22 23.741 22.3125 24 22.6979 24H25.3021C25.6875 24 26 23.741 26 23.4215V21.5785C26 21.259 25.6875 21 25.3021 21Z' fill='%234D4D4D'/%3E%3Cpath d='M9.30206 25H6.69794C6.31248 25 6 25.3453 6 25.7714V28.2286C6 28.6547 6.31248 29 6.69794 29H9.30206C9.68752 29 10 28.6547 10 28.2286V25.7714C10 25.3453 9.68752 25 9.30206 25Z' fill='%234D4D4D'/%3E%3Cpath d='M14.4765 25H12.5235C12.2344 25 12 25.3453 12 25.7714V28.2286C12 28.6547 12.2344 29 12.5235 29H14.4765C14.7656 29 15 28.6547 15 28.2286V25.7714C15 25.3453 14.7656 25 14.4765 25Z' fill='%234D4D4D'/%3E%3Cpath d='M19.4765 25H17.5235C17.2344 25 17 25.3453 17 25.7714V28.2286C17 28.6547 17.2344 29 17.5235 29H19.4765C19.7656 29 20 28.6547 20 28.2286V25.7714C20 25.3453 19.7656 25 19.4765 25Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
}

.quick .detail ul li.news a::after {
    top: 23%;
    width: 36px;
    height:30px ;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='44' viewBox='0 0 45 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.4815 5.29447C28.0517 5.17584 27.6286 5.45217 27.5203 5.79939C27.4017 6.22915 27.678 6.65229 28.0252 6.76059C33.4806 8.302 37.3506 12.8674 38.0194 18.3068C38.0752 18.7491 38.4964 19.0468 38.8983 18.9443C39.3453 18.8844 39.6383 18.4672 39.5358 18.0654C38.773 12.0451 34.503 7.00816 28.4815 5.29447Z' fill='%234D4D4D'/%3E%3Cpath d='M27.6355 9.07802C27.2057 8.95939 26.7888 9.14851 26.6743 9.58294C26.551 10.0167 26.7447 10.4296 27.1792 10.5441C28.9919 11.1174 30.6433 12.1656 31.8248 13.5306C33.0063 14.8956 33.8474 16.7269 34.1549 18.6031C34.2107 19.0454 34.6319 19.3431 35.0338 19.2406C35.4761 19.1848 35.7738 18.7636 35.6713 18.3617C35.0604 13.9434 32.0014 10.4094 27.6355 9.07802Z' fill='%234D4D4D'/%3E%3Cpath d='M25.7648 13.4912C25.6058 13.8742 25.8353 14.3378 26.223 14.4928C28.3761 15.2703 29.7131 16.9095 30.1398 19.0178C30.2423 19.4197 30.6636 19.7174 31.0654 19.6148C31.4673 19.5123 31.765 19.0911 31.6625 18.6892C31.1442 16.0878 29.4412 13.9314 26.7665 13.033C26.3327 12.9097 25.9199 13.1035 25.7648 13.4912Z' fill='%234D4D4D'/%3E%3Cpath d='M18.5813 8.9974C18.2131 8.57202 17.5449 8.65975 17.2861 9.21089L9.31761 26.0023L7.574 27.5116C6.34927 28.5717 6.26281 30.38 7.28246 31.558L10.5033 35.279C11.5634 36.5037 13.3717 36.5902 14.5497 35.5705L16.2933 34.0613L33.9727 28.4888C34.5132 28.348 34.6911 27.7034 34.3229 27.278C33.7992 26.5784 18.8281 9.28255 18.5813 8.9974ZM11.6766 34.2634L8.45577 30.5424C7.96618 29.9768 8.0701 29.1427 8.58898 28.6936L9.86046 27.593L14.7969 33.296L13.5254 34.3966C13.047 34.8925 12.1662 34.829 11.6766 34.2634ZM16.1772 32.5101L10.8726 26.3817L18.1761 10.9099L20.0131 13.0321L13.644 25.3892C13.4802 25.7763 13.5805 26.27 13.9636 26.4291C14.3506 26.5929 14.8444 26.4926 15.0034 26.1096L21.1131 14.3123L32.4142 27.3684L16.1765 32.5188L16.1772 32.5101Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
}
.quick .detail ul li.program a::after {
    top: 12%;
    width: 27px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='40' viewBox='0 0 27 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_61_3572)'%3E%3Cpath d='M14.252 24.0549V32.646C14.252 32.8522 14.4608 33.0584 14.6767 33.0584C14.8925 33.0584 15.1014 32.8522 15.1014 32.646V24.0549C15.1014 23.8488 14.8925 23.6426 14.6767 23.6426C14.4608 23.6426 14.252 23.8488 14.252 24.0549Z' fill='%234D4D4D'/%3E%3Cpath d='M18.1996 33.1273C18.4085 33.1273 18.6243 32.9211 18.6243 32.7149V25.8421C18.6243 25.6359 18.4154 25.4297 18.1996 25.4297C17.9838 25.4297 17.7749 25.6359 17.7749 25.8421V32.7149C17.7749 32.9211 17.9838 33.1273 18.1996 33.1273Z' fill='%234D4D4D'/%3E%3Cpath d='M21.7226 33.1278C21.9314 33.1278 22.1473 32.9216 22.1473 32.7154V27.5608C22.1473 27.3546 21.9384 27.1484 21.7226 27.1484C21.5067 27.1484 21.2979 27.3546 21.2979 27.5608V32.7154C21.2979 32.9216 21.5067 33.1278 21.7226 33.1278Z' fill='%234D4D4D'/%3E%3Cpath d='M26.5827 20.2062H15.1714V13.3333C15.1714 11.4089 13.3403 9.96564 11.37 10.378L10.806 8.72852L14.9625 5.7732C15.1018 5.63574 15.1714 5.49828 15.1018 5.2921C15.0322 5.08591 14.8929 5.01718 14.6771 5.01718H9.53886L7.98626 0.274914C7.91664 0.0687285 7.77739 0 7.56155 0C7.34572 0 7.20647 0.137457 7.13685 0.274914L5.58425 5.01718H0.452994C0.244123 5.01718 0.0979137 5.15464 0.0282902 5.2921C-0.0413333 5.49828 0.0282902 5.63574 0.167537 5.7732L4.32406 8.72852L2.77146 13.4708C2.70183 13.677 2.77146 13.8144 2.9107 13.9519C3.04995 14.0893 3.26578 14.0893 3.40503 13.9519L7.56155 10.9966L9.18378 12.1649C9.04454 12.5086 8.97491 12.8522 8.97491 13.2646V22.4742H7.28306C6.01591 22.4742 5.02726 23.4364 5.02726 24.6735V29.2783C5.02726 35.189 9.9566 40 16.0139 40C22.0711 40 27.0004 35.189 27.0004 29.2783V20.6186C27.0004 20.4124 26.7916 20.2062 26.5757 20.2062H26.5827ZM7.84701 10.2405C7.70776 10.1031 7.49193 10.1031 7.35268 10.2405L4.04557 12.5773L5.31272 8.79725C5.38234 8.59107 5.31272 8.45361 5.17347 8.31615L1.78977 5.91065H5.87667C6.08554 5.91065 6.23175 5.7732 6.30137 5.63574L7.56852 1.85567L8.83566 5.63574C8.90529 5.84192 9.04454 5.91065 9.26037 5.91065H13.3473L10.0402 8.24742C9.9009 8.38488 9.83128 8.52234 9.90091 8.72852L10.5345 10.7216C10.1864 10.9278 9.9009 11.2027 9.62241 11.4777L7.86094 10.2405H7.84701ZM26.158 29.2783C26.158 34.7079 21.6534 39.1065 16.0835 39.1065C10.5136 39.1065 6.00895 34.7079 6.00895 29.2783V24.7423C6.00895 23.9863 6.64252 23.3677 7.41535 23.3677H9.1072V28.2474C9.1072 28.4536 9.31607 28.6598 9.5319 28.6598C9.74773 28.6598 9.9566 28.4536 9.9566 28.2474V13.3333C9.9566 12.1649 10.9453 11.2027 12.1428 11.2027C13.3403 11.2027 14.329 12.1649 14.329 13.3333V20.6186C14.329 20.8247 14.5378 21.0309 14.7537 21.0309H26.165V29.2783H26.158Z' fill='%234D4D4D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_61_3572'%3E%3Crect width='27' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.quick .detail ul li.acaive a::after {
    top: 20%;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.283 19.9278L26.8304 0.543935C26.7809 0.247243 26.5288 0 26.2321 0H3.71812C3.41649 0 3.11979 0.247243 3.11979 0.543935L0.118264 24.3287C-0.529512 27.0484 1.56711 29.6692 4.37084 29.6692H23.1267C24.6794 29.6692 26.2271 29.1252 27.4287 28.1857C29.9308 26.1583 30.6824 22.6969 29.2781 19.9278H29.283ZM4.27195 1.23621H25.6832L27.7848 17.9004C26.5337 16.7631 24.8821 16.0708 23.0822 16.0708C19.9818 16.0708 17.2819 18.0982 16.4808 21.0157C3.67362 21.0157 4.27689 21.0157 3.87636 21.0651C3.07529 21.164 2.32367 21.4607 1.6759 21.9552L4.27195 1.23621ZM4.37084 28.4329C2.87255 28.4329 1.6215 27.3451 1.31987 25.9605H11.2244C11.5755 25.9605 11.8771 25.6638 11.8771 25.3177C11.8771 24.9715 11.5755 24.6749 11.2244 24.6749H1.31987V24.4771C1.67095 23.0925 2.97145 22.2024 4.3214 22.2024H16.2286C15.9764 24.7243 17.178 26.9989 19.1313 28.3835H4.37084V28.4329ZM23.1267 28.4329C20.0263 28.4329 17.5242 25.9605 17.5242 22.8453C17.5242 19.73 20.1252 17.2576 23.1267 17.2576C26.2271 17.307 28.7292 19.8289 28.7292 22.8947C28.7292 25.9605 26.2271 28.4329 23.1267 28.4329Z' fill='%234D4D4D'/%3E%3Cpath d='M26.5286 19.8802C26.227 19.6825 25.8265 19.7814 25.6781 20.078L22.2761 25.6657L20.3228 24.2317C20.0212 24.0339 19.6751 24.0834 19.4229 24.3801C19.2251 24.6768 19.2745 25.0229 19.5712 25.2701L22.0733 27.1492C22.375 27.347 22.7755 27.2975 22.9733 26.9514L26.7264 20.7703C26.9242 20.4242 26.8253 20.0286 26.5286 19.8802Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
}




.visual .swiper-slide {
    color: #4d4d4d;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/main/스크린샷\ 2025-06-29\ 오후\ 7.30.03.png);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/main/bz-1.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/main/bz-2.jpg);
}
.visual .swiper-slide .wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 147px 0;
}
.visual .swiper .swiper-slide .right_txt { 
    position: absolute;
    right: 757px;
    top: 0;
    max-width: 757px;
    width: calc(100% - 100px);

}





.visual .swiper .swiper-slide .left_photo .bg-deco-cir1-left {
    position: absolute;
    bottom: 50px; /* 이미지 크기에 맞게 조절 */
    left: 0;
    width: 786px; /* 이미지 크기에 맞게 조절 */
    z-index: 200; /* 콘텐츠보다 뒤에 있게 */
    pointer-events: none; /* 클릭 방해 방지 */
}
.visual .swiper .swiper-slide .left_photo .bg-deco-cir2-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 337px; /* 이미지 크기에 맞게 조절 */
    z-index: 110; /* 콘텐츠보다 뒤에 있게 */
    pointer-events: none; /* 클릭 방해 방지 */
}













.perfor .tit{
    margin: 107px 0 53px 0;
}
.perfor .tit h2 {
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 15px;
}
.perfor .tit a {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #4d4d4d;
    border-radius: 30px;
    padding: 12px 48px 12px 26px;

}
.perfor .list ul {
    display: flex;
    gap: 24px;
}
.perfor .list ul li {
     width: calc(20% - 19.2px);
    /*여백의 총합 96 / 1줄에 나오는 li 갯수 5 = 19.2px */
}

.perfor .list ul li .photo {
    overflow: hidden;
    height: 207px;
    border-radius: 30px 30px 0 0;
}
.perfor .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.perfor .list ul li .list_wrap {
    border: 1px solid #4d4d4d;
    border-radius: 0 0 30px 30px;
    background-color: #fff;
    height: 180px;
}
.perfor .list ul li .list_wrap h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.perfor .list ul li .list_wrap ul li {
   display: flex;
}






















.biz {
    background-color: blue;
}
.notice {
    background-color: yellow;
}
.footer {
    background-color: red;
}