/* 웹폰트를 선언 */
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Heavy.woff2');
@font-face {
	font-family: "SeoulAlrimTTF-Heavy";
	font-weight: 400;
	font-display: swap;
	src: local('SeoulAlrimTTF-Heavy-Regular'), 
	url(../font/SeoulAlrimTTF-Heavy.woff2) format('woff2');
}


@font-face {
    font-family: "SeoulAlrimTTF-Heavy";
	font-style: normal;
    font-weight: 700;
    src: url('../font/Eulyoo1945-SemiBold.eot');
    src:url('../font/Eulyoo1945-SemiBold.?#iefix') format('embedded-opentype'),
    url('../font/Eulyoo1945-SemiBold.woff2') format('woff2'),
    url('../font/Eulyoo1945-SemiBold.woff') format('woff');
    
}
