header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex; /* logo gnb util 좌우 */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 138px;
    height: 33px;
    background: url(../images/common/logo_w.png) no-repeat center center / contain;
}
@media screen and (min-width:1025px){
    /* 1025px이상에서만 적용 */
        header .gnb .gnb_open,
        header .gnb .gnb_close {
            display: none;
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            width: 130px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            line-height: var(--header-h);
            color: #fff;
            font-size: 22px;
            font-weight: var(--bold-weight);
            text-align: center;
        }
        header .util {
            display: flex;
        }
        header .util .mypage,
        header .util .lang .lang_open,
        header .util .search .search_open {
            display: block;
            width: 45px;
            height: 45px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        header .util .mypage {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10C8.625 10 7.44792 9.51042 6.46875 8.53125C5.48958 7.55208 5 6.375 5 5C5 3.625 5.48958 2.44792 6.46875 1.46875C7.44792 0.489583 8.625 0 10 0C11.375 0 12.5521 0.489583 13.5312 1.46875C14.5104 2.44792 15 3.625 15 5C15 6.375 14.5104 7.55208 13.5312 8.53125C12.5521 9.51042 11.375 10 10 10ZM0 17.5V16.5C0 15.7917 0.182292 15.1406 0.546875 14.5469C0.911458 13.9531 1.39583 13.5 2 13.1875C3.29167 12.5417 4.60417 12.0573 5.9375 11.7344C7.27083 11.4115 8.625 11.25 10 11.25C11.375 11.25 12.7292 11.4115 14.0625 11.7344C15.3958 12.0573 16.7083 12.5417 18 13.1875C18.6042 13.5 19.0885 13.9531 19.4531 14.5469C19.8177 15.1406 20 15.7917 20 16.5V17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20H2.5C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5ZM2.5 17.5H17.5V16.5C17.5 16.2708 17.4427 16.0625 17.3281 15.875C17.2135 15.6875 17.0625 15.5417 16.875 15.4375C15.75 14.875 14.6146 14.4531 13.4688 14.1719C12.3229 13.8906 11.1667 13.75 10 13.75C8.83333 13.75 7.67708 13.8906 6.53125 14.1719C5.38542 14.4531 4.25 14.875 3.125 15.4375C2.9375 15.5417 2.78646 15.6875 2.67188 15.875C2.55729 16.0625 2.5 16.2708 2.5 16.5V17.5ZM10 7.5C10.6875 7.5 11.276 7.25521 11.7656 6.76562C12.2552 6.27604 12.5 5.6875 12.5 5C12.5 4.3125 12.2552 3.72396 11.7656 3.23438C11.276 2.74479 10.6875 2.5 10 2.5C9.3125 2.5 8.72396 2.74479 8.23438 3.23438C7.74479 3.72396 7.5 4.3125 7.5 5C7.5 5.6875 7.74479 6.27604 8.23438 6.76562C8.72396 7.25521 9.3125 7.5 10 7.5Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        header .util .lang .lang_open {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 25.5C11.2917 25.5 9.67708 25.1719 8.15625 24.5156C6.63542 23.8594 5.30729 22.9635 4.17188 21.8281C3.03646 20.6927 2.14063 19.3646 1.48438 17.8438C0.828125 16.3229 0.5 14.7083 0.5 13C0.5 11.2708 0.828125 9.65104 1.48438 8.14062C2.14063 6.63021 3.03646 5.30729 4.17188 4.17188C5.30729 3.03646 6.63542 2.14063 8.15625 1.48438C9.67708 0.828125 11.2917 0.5 13 0.5C14.7292 0.5 16.349 0.828125 17.8594 1.48438C19.3698 2.14063 20.6927 3.03646 21.8281 4.17188C22.9635 5.30729 23.8594 6.63021 24.5156 8.14062C25.1719 9.65104 25.5 11.2708 25.5 13C25.5 14.7083 25.1719 16.3229 24.5156 17.8438C23.8594 19.3646 22.9635 20.6927 21.8281 21.8281C20.6927 22.9635 19.3698 23.8594 17.8594 24.5156C16.349 25.1719 14.7292 25.5 13 25.5ZM13 22.9375C13.5417 22.1875 14.0104 21.4063 14.4062 20.5938C14.8021 19.7812 15.125 18.9167 15.375 18H10.625C10.875 18.9167 11.1979 19.7812 11.5938 20.5938C11.9896 21.4063 12.4583 22.1875 13 22.9375ZM9.75 22.4375C9.375 21.75 9.04688 21.0365 8.76562 20.2969C8.48438 19.5573 8.25 18.7917 8.0625 18H4.375C4.97917 19.0417 5.73438 19.9479 6.64062 20.7188C7.54688 21.4896 8.58333 22.0625 9.75 22.4375ZM16.25 22.4375C17.4167 22.0625 18.4531 21.4896 19.3594 20.7188C20.2656 19.9479 21.0208 19.0417 21.625 18H17.9375C17.75 18.7917 17.5156 19.5573 17.2344 20.2969C16.9531 21.0365 16.625 21.75 16.25 22.4375ZM3.3125 15.5H7.5625C7.5 15.0833 7.45312 14.6719 7.42188 14.2656C7.39062 13.8594 7.375 13.4375 7.375 13C7.375 12.5625 7.39062 12.1406 7.42188 11.7344C7.45312 11.3281 7.5 10.9167 7.5625 10.5H3.3125C3.20833 10.9167 3.13021 11.3281 3.07812 11.7344C3.02604 12.1406 3 12.5625 3 13C3 13.4375 3.02604 13.8594 3.07812 14.2656C3.13021 14.6719 3.20833 15.0833 3.3125 15.5ZM10.0625 15.5H15.9375C16 15.0833 16.0469 14.6719 16.0781 14.2656C16.1094 13.8594 16.125 13.4375 16.125 13C16.125 12.5625 16.1094 12.1406 16.0781 11.7344C16.0469 11.3281 16 10.9167 15.9375 10.5H10.0625C10 10.9167 9.95312 11.3281 9.92188 11.7344C9.89062 12.1406 9.875 12.5625 9.875 13C9.875 13.4375 9.89062 13.8594 9.92188 14.2656C9.95312 14.6719 10 15.0833 10.0625 15.5ZM18.4375 15.5H22.6875C22.7917 15.0833 22.8698 14.6719 22.9219 14.2656C22.974 13.8594 23 13.4375 23 13C23 12.5625 22.974 12.1406 22.9219 11.7344C22.8698 11.3281 22.7917 10.9167 22.6875 10.5H18.4375C18.5 10.9167 18.5469 11.3281 18.5781 11.7344C18.6094 12.1406 18.625 12.5625 18.625 13C18.625 13.4375 18.6094 13.8594 18.5781 14.2656C18.5469 14.6719 18.5 15.0833 18.4375 15.5ZM17.9375 8H21.625C21.0208 6.95833 20.2656 6.05208 19.3594 5.28125C18.4531 4.51042 17.4167 3.9375 16.25 3.5625C16.625 4.25 16.9531 4.96354 17.2344 5.70312C17.5156 6.44271 17.75 7.20833 17.9375 8ZM10.625 8H15.375C15.125 7.08333 14.8021 6.21875 14.4062 5.40625C14.0104 4.59375 13.5417 3.8125 13 3.0625C12.4583 3.8125 11.9896 4.59375 11.5938 5.40625C11.1979 6.21875 10.875 7.08333 10.625 8ZM4.375 8H8.0625C8.25 7.20833 8.48438 6.44271 8.76562 5.70312C9.04688 4.96354 9.375 4.25 9.75 3.5625C8.58333 3.9375 7.54688 4.51042 6.64062 5.28125C5.73438 6.05208 4.97917 6.95833 4.375 8Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        header .util .search .search_open {
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.875 17C6.60417 17 4.68229 16.2135 3.10938 14.6406C1.53646 13.0677 0.75 11.1458 0.75 8.875C0.75 6.60417 1.53646 4.68229 3.10938 3.10938C4.68229 1.53646 6.60417 0.75 8.875 0.75C11.1458 0.75 13.0677 1.53646 14.6406 3.10938C16.2135 4.68229 17 6.60417 17 8.875C17 9.79167 16.8542 10.6562 16.5625 11.4688C16.2708 12.2812 15.875 13 15.375 13.625L22.375 20.625C22.6042 20.8542 22.7188 21.1458 22.7188 21.5C22.7188 21.8542 22.6042 22.1458 22.375 22.375C22.1458 22.6042 21.8542 22.7188 21.5 22.7188C21.1458 22.7188 20.8542 22.6042 20.625 22.375L13.625 15.375C13 15.875 12.2812 16.2708 11.4688 16.5625C10.6562 16.8542 9.79167 17 8.875 17ZM8.875 14.5C10.4375 14.5 11.7656 13.9531 12.8594 12.8594C13.9531 11.7656 14.5 10.4375 14.5 8.875C14.5 7.3125 13.9531 5.98438 12.8594 4.89062C11.7656 3.79688 10.4375 3.25 8.875 3.25C7.3125 3.25 5.98438 3.79688 4.89062 4.89062C3.79688 5.98438 3.25 7.3125 3.25 8.875C3.25 10.4375 3.79688 11.7656 4.89062 12.8594C5.98438 13.9531 7.3125 14.5 8.875 14.5Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        /************** 배경이 흰색이 되었을때 ***************/
        body.fp-responsive header.fixed {
            background-color: #fff;
        }
        body.bg_white header,
        body.fp-responsive header.fixed, {
            border-bottom-color: #ccc;
        }
        body.bg_white header .logo a,
        body.fp-responsive header.fixed .logo a  {
            background-image: url(../images/common/logo.png);
        }
        body.bg_white header .gnb .gnb_wrap ul.depth1 > li > a,
        body.fp-responsive header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
            color: var(--tit-color);
        }
        body.bg_white header .util .mypage,
        body.fp-responsive header.fixed .util .mypage {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10C8.625 10 7.44792 9.51042 6.46875 8.53125C5.48958 7.55208 5 6.375 5 5C5 3.625 5.48958 2.44792 6.46875 1.46875C7.44792 0.489583 8.625 0 10 0C11.375 0 12.5521 0.489583 13.5312 1.46875C14.5104 2.44792 15 3.625 15 5C15 6.375 14.5104 7.55208 13.5312 8.53125C12.5521 9.51042 11.375 10 10 10ZM0 17.5V16.5C0 15.7917 0.182292 15.1406 0.546875 14.5469C0.911458 13.9531 1.39583 13.5 2 13.1875C3.29167 12.5417 4.60417 12.0573 5.9375 11.7344C7.27083 11.4115 8.625 11.25 10 11.25C11.375 11.25 12.7292 11.4115 14.0625 11.7344C15.3958 12.0573 16.7083 12.5417 18 13.1875C18.6042 13.5 19.0885 13.9531 19.4531 14.5469C19.8177 15.1406 20 15.7917 20 16.5V17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20H2.5C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5ZM2.5 17.5H17.5V16.5C17.5 16.2708 17.4427 16.0625 17.3281 15.875C17.2135 15.6875 17.0625 15.5417 16.875 15.4375C15.75 14.875 14.6146 14.4531 13.4688 14.1719C12.3229 13.8906 11.1667 13.75 10 13.75C8.83333 13.75 7.67708 13.8906 6.53125 14.1719C5.38542 14.4531 4.25 14.875 3.125 15.4375C2.9375 15.5417 2.78646 15.6875 2.67188 15.875C2.55729 16.0625 2.5 16.2708 2.5 16.5V17.5ZM10 7.5C10.6875 7.5 11.276 7.25521 11.7656 6.76562C12.2552 6.27604 12.5 5.6875 12.5 5C12.5 4.3125 12.2552 3.72396 11.7656 3.23438C11.276 2.74479 10.6875 2.5 10 2.5C9.3125 2.5 8.72396 2.74479 8.23438 3.23438C7.74479 3.72396 7.5 4.3125 7.5 5C7.5 5.6875 7.74479 6.27604 8.23438 6.76562C8.72396 7.25521 9.3125 7.5 10 7.5Z' fill='%23555555'/%3E%3C/svg%3E%0A");
        }
        body.bg_white header .util .lang .lang_open,
        body.fp-responsive header.fixed .util .lang .lang_open {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 25.5C11.2917 25.5 9.67708 25.1719 8.15625 24.5156C6.63542 23.8594 5.30729 22.9635 4.17188 21.8281C3.03646 20.6927 2.14063 19.3646 1.48438 17.8438C0.828125 16.3229 0.5 14.7083 0.5 13C0.5 11.2708 0.828125 9.65104 1.48438 8.14062C2.14063 6.63021 3.03646 5.30729 4.17188 4.17188C5.30729 3.03646 6.63542 2.14063 8.15625 1.48438C9.67708 0.828125 11.2917 0.5 13 0.5C14.7292 0.5 16.349 0.828125 17.8594 1.48438C19.3698 2.14063 20.6927 3.03646 21.8281 4.17188C22.9635 5.30729 23.8594 6.63021 24.5156 8.14062C25.1719 9.65104 25.5 11.2708 25.5 13C25.5 14.7083 25.1719 16.3229 24.5156 17.8438C23.8594 19.3646 22.9635 20.6927 21.8281 21.8281C20.6927 22.9635 19.3698 23.8594 17.8594 24.5156C16.349 25.1719 14.7292 25.5 13 25.5ZM13 22.9375C13.5417 22.1875 14.0104 21.4063 14.4062 20.5938C14.8021 19.7812 15.125 18.9167 15.375 18H10.625C10.875 18.9167 11.1979 19.7812 11.5938 20.5938C11.9896 21.4063 12.4583 22.1875 13 22.9375ZM9.75 22.4375C9.375 21.75 9.04688 21.0365 8.76562 20.2969C8.48438 19.5573 8.25 18.7917 8.0625 18H4.375C4.97917 19.0417 5.73438 19.9479 6.64062 20.7188C7.54688 21.4896 8.58333 22.0625 9.75 22.4375ZM16.25 22.4375C17.4167 22.0625 18.4531 21.4896 19.3594 20.7188C20.2656 19.9479 21.0208 19.0417 21.625 18H17.9375C17.75 18.7917 17.5156 19.5573 17.2344 20.2969C16.9531 21.0365 16.625 21.75 16.25 22.4375ZM3.3125 15.5H7.5625C7.5 15.0833 7.45312 14.6719 7.42188 14.2656C7.39062 13.8594 7.375 13.4375 7.375 13C7.375 12.5625 7.39062 12.1406 7.42188 11.7344C7.45312 11.3281 7.5 10.9167 7.5625 10.5H3.3125C3.20833 10.9167 3.13021 11.3281 3.07812 11.7344C3.02604 12.1406 3 12.5625 3 13C3 13.4375 3.02604 13.8594 3.07812 14.2656C3.13021 14.6719 3.20833 15.0833 3.3125 15.5ZM10.0625 15.5H15.9375C16 15.0833 16.0469 14.6719 16.0781 14.2656C16.1094 13.8594 16.125 13.4375 16.125 13C16.125 12.5625 16.1094 12.1406 16.0781 11.7344C16.0469 11.3281 16 10.9167 15.9375 10.5H10.0625C10 10.9167 9.95312 11.3281 9.92188 11.7344C9.89062 12.1406 9.875 12.5625 9.875 13C9.875 13.4375 9.89062 13.8594 9.92188 14.2656C9.95312 14.6719 10 15.0833 10.0625 15.5ZM18.4375 15.5H22.6875C22.7917 15.0833 22.8698 14.6719 22.9219 14.2656C22.974 13.8594 23 13.4375 23 13C23 12.5625 22.974 12.1406 22.9219 11.7344C22.8698 11.3281 22.7917 10.9167 22.6875 10.5H18.4375C18.5 10.9167 18.5469 11.3281 18.5781 11.7344C18.6094 12.1406 18.625 12.5625 18.625 13C18.625 13.4375 18.6094 13.8594 18.5781 14.2656C18.5469 14.6719 18.5 15.0833 18.4375 15.5ZM17.9375 8H21.625C21.0208 6.95833 20.2656 6.05208 19.3594 5.28125C18.4531 4.51042 17.4167 3.9375 16.25 3.5625C16.625 4.25 16.9531 4.96354 17.2344 5.70312C17.5156 6.44271 17.75 7.20833 17.9375 8ZM10.625 8H15.375C15.125 7.08333 14.8021 6.21875 14.4062 5.40625C14.0104 4.59375 13.5417 3.8125 13 3.0625C12.4583 3.8125 11.9896 4.59375 11.5938 5.40625C11.1979 6.21875 10.875 7.08333 10.625 8ZM4.375 8H8.0625C8.25 7.20833 8.48438 6.44271 8.76562 5.70312C9.04688 4.96354 9.375 4.25 9.75 3.5625C8.58333 3.9375 7.54688 4.51042 6.64062 5.28125C5.73438 6.05208 4.97917 6.95833 4.375 8Z' fill='%23555555'/%3E%3C/svg%3E%0A");
        }
        body.bg_white header .util .search .search_open,
        body.fp-responsive header.fixed .util .search .search_open {
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.875 17C6.60417 17 4.68229 16.2135 3.10938 14.6406C1.53646 13.0677 0.75 11.1458 0.75 8.875C0.75 6.60417 1.53646 4.68229 3.10938 3.10938C4.68229 1.53646 6.60417 0.75 8.875 0.75C11.1458 0.75 13.0677 1.53646 14.6406 3.10938C16.2135 4.68229 17 6.60417 17 8.875C17 9.79167 16.8542 10.6562 16.5625 11.4688C16.2708 12.2812 15.875 13 15.375 13.625L22.375 20.625C22.6042 20.8542 22.7188 21.1458 22.7188 21.5C22.7188 21.8542 22.6042 22.1458 22.375 22.375C22.1458 22.6042 21.8542 22.7188 21.5 22.7188C21.1458 22.7188 20.8542 22.6042 20.625 22.375L13.625 15.375C13 15.875 12.2812 16.2708 11.4688 16.5625C10.6562 16.8542 9.79167 17 8.875 17ZM8.875 14.5C10.4375 14.5 11.7656 13.9531 12.8594 12.8594C13.9531 11.7656 14.5 10.4375 14.5 8.875C14.5 7.3125 13.9531 5.98438 12.8594 4.89062C11.7656 3.79688 10.4375 3.25 8.875 3.25C7.3125 3.25 5.98438 3.79688 4.89062 4.89062C3.79688 5.98438 3.25 7.3125 3.25 8.875C3.25 10.4375 3.79688 11.7656 4.89062 12.8594C5.98438 13.9531 7.3125 14.5 8.875 14.5Z' fill='%23555555'/%3E%3C/svg%3E%0A");
        }
}/* media */
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
            }
            header .logo a {
                width: 97px;
                height: 23px;
            }
            header .gnb .gnb_open {
                display: block;
                width: var(--header-h);
                height: var(--header-h);
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66667 3.16634C1.33611 3.16634 1.05903 3.05454 0.835417 2.83092C0.611806 2.60731 0.5 2.33023 0.5 1.99967C0.5 1.66912 0.611806 1.39204 0.835417 1.16842C1.05903 0.944813 1.33611 0.833008 1.66667 0.833008H20.3333C20.6639 0.833008 20.941 0.944813 21.1646 1.16842C21.3882 1.39204 21.5 1.66912 21.5 1.99967C21.5 2.33023 21.3882 2.60731 21.1646 2.83092C20.941 3.05454 20.6639 3.16634 20.3333 3.16634H1.66667ZM1.66667 17.1663C1.33611 17.1663 1.05903 17.0545 0.835417 16.8309C0.611806 16.6073 0.5 16.3302 0.5 15.9997C0.5 15.6691 0.611806 15.392 0.835417 15.1684C1.05903 14.9448 1.33611 14.833 1.66667 14.833H20.3333C20.6639 14.833 20.941 14.9448 21.1646 15.1684C21.3882 15.392 21.5 15.6691 21.5 15.9997C21.5 16.3302 21.3882 16.6073 21.1646 16.8309C20.941 17.0545 20.6639 17.1663 20.3333 17.1663H1.66667ZM1.66667 10.1663C1.33611 10.1663 1.05903 10.0545 0.835417 9.83092C0.611806 9.60731 0.5 9.33023 0.5 8.99967C0.5 8.66912 0.611806 8.39204 0.835417 8.16843C1.05903 7.94481 1.33611 7.83301 1.66667 7.83301H20.3333C20.6639 7.83301 20.941 7.94481 21.1646 8.16843C21.3882 8.39204 21.5 8.66912 21.5 8.99967C21.5 9.33023 21.3882 9.60731 21.1646 9.83092C20.941 10.0545 20.6639 10.1663 20.3333 10.1663H1.66667Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap,
            header .gnb .gnb_close,
            header .util {
                display: none;
            }

            /******** header에 fixed 클래스 추가 **********/
            header.fixed {
                background-color: #fff;
                border-bottom-color: #ccc;
            }
            header.fixed .logo a {
                background-image: url(../images/common/logo.png);
            }
            header.fixed .gnb .gnb_open {
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66667 3.16634C1.33611 3.16634 1.05903 3.05454 0.835417 2.83092C0.611806 2.60731 0.5 2.33023 0.5 1.99967C0.5 1.66912 0.611806 1.39204 0.835417 1.16842C1.05903 0.944813 1.33611 0.833008 1.66667 0.833008H20.3333C20.6639 0.833008 20.941 0.944813 21.1646 1.16842C21.3882 1.39204 21.5 1.66912 21.5 1.99967C21.5 2.33023 21.3882 2.60731 21.1646 2.83092C20.941 3.05454 20.6639 3.16634 20.3333 3.16634H1.66667ZM1.66667 17.1663C1.33611 17.1663 1.05903 17.0545 0.835417 16.8309C0.611806 16.6073 0.5 16.3302 0.5 15.9997C0.5 15.6691 0.611806 15.392 0.835417 15.1684C1.05903 14.9448 1.33611 14.833 1.66667 14.833H20.3333C20.6639 14.833 20.941 14.9448 21.1646 15.1684C21.3882 15.392 21.5 15.6691 21.5 15.9997C21.5 16.3302 21.3882 16.6073 21.1646 16.8309C20.941 17.0545 20.6639 17.1663 20.3333 17.1663H1.66667ZM1.66667 10.1663C1.33611 10.1663 1.05903 10.0545 0.835417 9.83092C0.611806 9.60731 0.5 9.33023 0.5 8.99967C0.5 8.66912 0.611806 8.39204 0.835417 8.16843C1.05903 7.94481 1.33611 7.83301 1.66667 7.83301H20.3333C20.6639 7.83301 20.941 7.94481 21.1646 8.16843C21.3882 8.39204 21.5 8.66912 21.5 8.99967C21.5 9.33023 21.3882 9.60731 21.1646 9.83092C20.941 10.0545 20.6639 10.1663 20.3333 10.1663H1.66667Z' fill='%23555555'/%3E%3C/svg%3E%0A");
            }
}/* media */


footer {
    background-color: #203727;
    color: rgba(255,255,255,0.4);

}
footer .footer_head {
    border-bottom: 1px solid  rgba(255,255,255,0.4);
    position: relative; /*before 정렬의기준*/
    padding: 33px 0 28px 0;
}
footer .footer_head::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
}

footer .footer_head .wrapper {
    display: flex;
    gap: 60px;
}
footer .footer_head .wrapper .item {
    width: calc(50% - 30px );
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
footer .footer_head .wrapper .item h2 {
    font-size: 32px;
    font-weight: var(--bold-weight);
    color: #fff;
}
footer .footer_head .wrapper .item a {
    display: block;
    border: 1px solid #fff;
    padding: 6px 43px 6px 30px;
    border-radius: 30px;
    position: relative;
}
footer .footer_head .wrapper .item a::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .footer_head .wrapper .item.newsletter a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_56_1657' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_56_1657)'%3E%3Cpath d='M12 13L4 8V18H13V20H4C3.45 20 2.97917 19.8042 2.5875 19.4125C2.19583 19.0208 2 18.55 2 18V6C2 5.45 2.19583 4.97917 2.5875 4.5875C2.97917 4.19583 3.45 4 4 4H20C20.55 4 21.0208 4.19583 21.4125 4.5875C21.8042 4.97917 22 5.45 22 6V13H20V8L12 13ZM12 11L20 6H4L12 11ZM19 23L17.6 21.6L19.175 20H15V18H19.175L17.575 16.4L19 15L23 19L19 23ZM4 8V19V13V13.075V6V8Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .footer_head .wrapper .item.support a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_56_1660' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_56_1660)'%3E%3Cpath d='M11 21L7.825 18.15C6.625 17.0667 5.59583 16.1 4.7375 15.25C3.87917 14.4 3.17083 13.6 2.6125 12.85C2.05417 12.1 1.64583 11.375 1.3875 10.675C1.12917 9.975 1 9.24167 1 8.475C1 6.90833 1.525 5.60417 2.575 4.5625C3.625 3.52083 4.93333 3 6.5 3C7.36667 3 8.19167 3.18333 8.975 3.55C9.75833 3.91667 10.4333 4.43333 11 5.1C11.5667 4.43333 12.2417 3.91667 13.025 3.55C13.8083 3.18333 14.6333 3 15.5 3C16.85 3 17.9833 3.37917 18.9 4.1375C19.8167 4.89583 20.4417 5.85 20.775 7H18.65C18.35 6.33333 17.9083 5.83333 17.325 5.5C16.7417 5.16667 16.1333 5 15.5 5C14.65 5 13.9167 5.22917 13.3 5.6875C12.6833 6.14583 12.1083 6.75 11.575 7.5H10.425C9.90833 6.75 9.32083 6.14583 8.6625 5.6875C8.00417 5.22917 7.28333 5 6.5 5C5.55 5 4.72917 5.32917 4.0375 5.9875C3.34583 6.64583 3 7.475 3 8.475C3 9.025 3.11667 9.58333 3.35 10.15C3.58333 10.7167 4 11.3708 4.6 12.1125C5.2 12.8542 6.01667 13.7208 7.05 14.7125C8.08333 15.7042 9.4 16.9 11 18.3C11.4333 17.9167 11.9417 17.475 12.525 16.975C13.1083 16.475 13.575 16.0583 13.925 15.725L15.35 17.15C14.9833 17.4833 14.5167 17.8958 13.95 18.3875C13.3833 18.8792 12.8833 19.3167 12.45 19.7L11 21ZM18 17V14H15V12H18V9H20V12H23V14H20V17H18Z' fill='%23D8CCFF'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .footer_sub {
    padding: 54px 0 75px 0;
}
footer .footer_sub .wrapper {
    display: flex;
    position: relative;
    gap: 75px;
}

footer .footer_sub .f_logo img {
    width: 163px;
}
footer .footer_sub .sns {
    position: absolute;
    right: 0;
    top: 0;
}
footer .footer_sub .sns ul li {
    margin: 0 0 5px 0;
}
footer .footer_sub .sns ul li a {
    display: block;
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 30px;
    padding: 5px 20px 5px 60px;
    position: relative;
}
footer .footer_sub .sns ul li a::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 5px;
    width: 27px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .footer_sub .sns ul li.blog a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.11816 0.5H23.8818C24.7755 0.500156 25.4998 1.22455 25.5 2.11816V23.8818C25.4998 24.7755 24.7755 25.4998 23.8818 25.5H2.11816C1.22455 25.4998 0.500155 24.7755 0.5 23.8818V2.11816C0.500154 1.22455 1.22455 0.500156 2.11816 0.5Z' stroke='white'/%3E%3Cpath d='M20 7V20H15.6377L11.3623 13.4553V20H7V7H11.3623L15.6377 13.8078V7H20Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.facebook a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58105 0.5H19.4189C22.7757 0.500022 25.5 3.22429 25.5 6.58105V19.4189C25.5 22.7757 22.7757 25.5 19.4189 25.5H15.0938L13.1602 24.8623L13.0029 24.8105L12.8457 24.8623L10.9258 25.5H6.58105C3.22429 25.5 0.500022 22.7757 0.5 19.4189V6.58105C0.500019 3.22429 3.22429 0.500022 6.58105 0.5Z' stroke='white'/%3E%3Cpath d='M15.8438 5.67578C16.5197 5.67579 17.2176 5.73691 17.751 5.79883C17.929 5.8195 18.0876 5.84107 18.2197 5.85938V8.08496H17.0977C16.1928 8.085 15.5172 8.37021 15.0771 8.87891C14.6488 9.37407 14.5079 10.0082 14.5078 10.5889V13.4971H17.9863L17.5703 16.209H14.5078V25.4932H11.4922V16.209H8.23438V13.4971H11.4922V10.1709C11.4922 8.66349 11.9402 7.55369 12.6719 6.82129C13.404 6.08842 14.4781 5.67578 15.8438 5.67578Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.kakao a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_54_1406)'%3E%3Cmask id='path-3-inside-1_54_1406' fill='white'%3E%3Cpath d='M13.5001 4.6305C8.13576 4.6305 3.78955 8.04679 3.78955 12.2644C3.78955 15.0078 5.632 17.4148 8.39721 18.7605C8.1942 19.5129 7.66207 21.4917 7.55442 21.9138C7.42215 22.4399 7.7482 22.4307 7.96043 22.29C8.12653 22.1799 10.6211 20.4916 11.6976 19.7637C12.282 19.8493 12.8849 19.8952 13.5001 19.8952C18.8644 19.8952 23.2106 16.4789 23.2106 12.2613C23.2106 8.04373 18.8644 4.62744 13.5001 4.62744'/%3E%3C/mask%3E%3Cpath d='M8.39721 18.7605L9.36268 19.021L9.57799 18.2231L8.8348 17.8614L8.39721 18.7605ZM7.55442 21.9138L6.58544 21.6666L6.5846 21.67L7.55442 21.9138ZM7.96043 22.29L7.40791 21.4565L7.96043 22.29ZM11.6976 19.7637L11.8426 18.7743L11.4588 18.718L11.1375 18.9353L11.6976 19.7637ZM13.5001 4.6305V3.6305C7.82105 3.6305 2.78955 7.28368 2.78955 12.2644H3.78955H4.78955C4.78955 8.8099 8.45046 5.6305 13.5001 5.6305V4.6305ZM3.78955 12.2644H2.78955C2.78955 15.4915 4.95169 18.1959 7.95961 19.6597L8.39721 18.7605L8.8348 17.8614C6.3123 16.6338 4.78955 14.5241 4.78955 12.2644H3.78955ZM8.39721 18.7605L7.43173 18.5C7.22996 19.2478 6.69529 21.236 6.58544 21.6666L7.55442 21.9138L8.52339 22.161C8.62885 21.7475 9.15843 19.778 9.36268 19.021L8.39721 18.7605ZM7.55442 21.9138L6.5846 21.67C6.53244 21.8774 6.49423 22.1446 6.55466 22.425C6.62291 22.7417 6.8205 23.0656 7.18006 23.2459C7.49777 23.4051 7.80636 23.3832 7.99714 23.3426C8.19768 23.2999 8.37314 23.2162 8.51295 23.1235L7.96043 22.29L7.40791 21.4565C7.4416 21.4342 7.49672 21.4043 7.58057 21.3865C7.65466 21.3707 7.85022 21.3446 8.07641 21.458C8.34447 21.5924 8.47208 21.8287 8.50977 22.0036C8.53963 22.1422 8.51026 22.2132 8.52423 22.1576L7.55442 21.9138ZM7.96043 22.29L8.51295 23.1235C8.68413 23.01 11.1865 21.3165 12.2577 20.5921L11.6976 19.7637L11.1375 18.9353C10.0556 19.6668 7.56892 21.3498 7.40791 21.4565L7.96043 22.29ZM11.6976 19.7637L11.5526 20.7531C12.1839 20.8456 12.8352 20.8952 13.5001 20.8952V19.8952V18.8952C12.9346 18.8952 12.3802 18.8531 11.8426 18.7743L11.6976 19.7637ZM13.5001 19.8952V20.8952C19.1791 20.8952 24.2106 17.242 24.2106 12.2613H23.2106H22.2106C22.2106 15.7158 18.5497 18.8952 13.5001 18.8952V19.8952ZM23.2106 12.2613H24.2106C24.2106 7.28062 19.1791 3.62744 13.5001 3.62744V4.62744V5.62744C18.5497 5.62744 22.2106 8.80684 22.2106 12.2613H23.2106Z' fill='white' mask='url(%23path-3-inside-1_54_1406)'/%3E%3Cpath d='M6.72413 10.8576H7.72379C7.72379 10.8576 7.72994 13.5888 7.72379 14.2249C7.72379 14.6898 8.76344 14.6959 8.76344 14.231V10.8943C8.76344 10.8943 9.10178 10.8943 9.76309 10.8943C10.3844 10.8943 10.3844 9.92167 9.76309 9.92167C9.0618 9.92167 6.72413 9.90332 6.72413 9.90332C6.13664 9.90332 6.13972 10.8576 6.72413 10.8576Z' fill='white'/%3E%3Cmask id='mask0_54_1406' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='6' y='9' width='5' height='6'%3E%3Cpath d='M6.72413 10.8576H7.72379C7.72379 10.8576 7.72994 13.5888 7.72379 14.2249C7.72379 14.6898 8.76344 14.6959 8.76344 14.231V10.8943C8.76344 10.8943 9.10178 10.8943 9.76309 10.8943C10.3844 10.8943 10.3844 9.92167 9.76309 9.92167C9.0618 9.92167 6.72413 9.90332 6.72413 9.90332C6.13664 9.90332 6.13972 10.8576 6.72413 10.8576Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_1406)'%3E%3Cpath d='M10.3845 9.90332H6.13672V14.6929H10.3845V9.90332Z' fill='white'/%3E%3C/g%3E%3Cpath d='M11.5101 11.0352L12.0668 12.7693H10.9072L11.5101 11.0352ZM10.8857 10.2216C10.6396 10.7599 9.75068 13.3045 9.45539 13.9774C9.24316 14.4637 10.1628 14.8613 10.3751 14.375L10.575 13.6807H12.4052C12.4052 13.6807 12.3436 13.7082 12.5866 14.3475C12.7835 14.8643 13.7339 14.5065 13.5371 13.9896C13.2572 13.2525 12.2852 10.5978 12.1068 10.2216C12.0237 10.0473 11.7315 9.92188 11.4486 9.92188C11.2148 9.92188 10.9841 10.0075 10.8888 10.2216' fill='white'/%3E%3Cmask id='mask1_54_1406' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='9' y='9' width='5' height='6'%3E%3Cpath d='M11.5101 11.0352L12.0668 12.7693H10.9072L11.5101 11.0352ZM10.8857 10.2216C10.6396 10.7599 9.75068 13.3045 9.45539 13.9774C9.24316 14.4637 10.1628 14.8613 10.3751 14.375L10.575 13.6807H12.4052C12.4052 13.6807 12.3436 13.7082 12.5866 14.3475C12.7835 14.8643 13.7339 14.5065 13.5371 13.9896C13.2572 13.2525 12.2852 10.5978 12.1068 10.2216C12.0237 10.0473 11.7315 9.92188 11.4486 9.92188C11.2148 9.92188 10.9841 10.0075 10.8888 10.2216' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_54_1406)'%3E%3Cpath d='M13.7309 9.9248H9.24316V14.8642H13.7309V9.9248Z' fill='white'/%3E%3C/g%3E%3Cpath d='M13.8848 10.3805C13.8848 11.2461 13.8909 14.0323 13.8909 14.0323C13.8909 14.0323 13.8109 14.5859 14.2877 14.5859C14.7645 14.5859 15.8256 14.5798 16.2932 14.5798C16.7607 14.5798 16.7607 13.5858 16.2932 13.5858C15.8256 13.5858 14.9675 13.5797 14.9675 13.5797C14.9675 13.5797 14.9705 11.0014 14.9675 10.3775C14.9675 10.0747 14.6968 9.9248 14.4261 9.9248C14.1554 9.9248 13.8848 10.0777 13.8848 10.3805Z' fill='white'/%3E%3Cmask id='mask2_54_1406' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='13' y='9' width='4' height='6'%3E%3Cpath d='M13.8848 10.3805C13.8848 11.2461 13.8909 14.0323 13.8909 14.0323C13.8909 14.0323 13.8109 14.5859 14.2877 14.5859C14.7645 14.5859 15.8256 14.5798 16.2932 14.5798C16.7607 14.5798 16.7607 13.5858 16.2932 13.5858C15.8256 13.5858 14.9675 13.5797 14.9675 13.5797C14.9675 13.5797 14.9705 11.0014 14.9675 10.3775C14.9675 10.0747 14.6968 9.9248 14.4261 9.9248C14.1554 9.9248 13.8848 10.0777 13.8848 10.3805Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask2_54_1406)'%3E%3Cpath d='M16.7639 9.9248H13.811V14.5859H16.7639V9.9248Z' fill='white'/%3E%3C/g%3E%3Cpath d='M16.8897 10.2428C16.899 10.622 16.8774 14.0505 16.8774 14.3044C16.8774 14.705 17.9048 14.705 17.9048 14.3044C17.9048 13.8395 17.9048 12.9556 17.9048 12.9556L18.2062 12.714L19.5227 14.5032C19.7903 14.8518 20.6269 14.2218 20.3624 13.8731L18.9629 12.0411C18.9629 12.0411 19.9133 11.0196 20.2886 10.6495C20.507 10.4324 19.8303 9.75646 19.6119 9.97361C19.3997 10.1816 17.9109 11.6619 17.9109 11.6619C17.9109 11.6619 17.9232 10.7321 17.9109 10.2183C17.9048 10.0225 17.6649 9.92773 17.4188 9.92773C17.1543 9.92773 16.8867 10.0348 16.8897 10.2458' fill='white'/%3E%3Cmask id='mask3_54_1406' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='16' y='9' width='5' height='6'%3E%3Cpath d='M16.8897 10.2428C16.899 10.622 16.8774 14.0505 16.8774 14.3044C16.8774 14.705 17.9048 14.705 17.9048 14.3044C17.9048 13.8395 17.9048 12.9556 17.9048 12.9556L18.2062 12.714L19.5227 14.5032C19.7903 14.8518 20.6269 14.2218 20.3624 13.8731L18.9629 12.0411C18.9629 12.0411 19.9133 11.0196 20.2886 10.6495C20.507 10.4324 19.8303 9.75646 19.6119 9.97361C19.3997 10.1816 17.9109 11.6619 17.9109 11.6619C17.9109 11.6619 17.9232 10.7321 17.9109 10.2183C17.9048 10.0225 17.6649 9.92773 17.4188 9.92773C17.1543 9.92773 16.8867 10.0348 16.8897 10.2458' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask3_54_1406)'%3E%3Cpath d='M20.6269 9.75342H16.8774V14.8519H20.6269V9.75342Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Crect x='0.5' y='0.5' width='26' height='26' rx='4.5' stroke='white'/%3E%3Cdefs%3E%3CclipPath id='clip0_54_1406'%3E%3Crect width='27' height='27' rx='5' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.insta a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58105 0.5H19.4189C22.7774 0.500022 25.5 3.22259 25.5 6.58105V19.4189C25.5 22.7774 22.7774 25.5 19.4189 25.5H6.58105C3.22259 25.5 0.500022 22.7774 0.5 19.4189V6.58105C0.500022 3.22259 3.22259 0.500022 6.58105 0.5Z' stroke='white'/%3E%3Cpath d='M16.9829 8.68848C17.1895 8.68874 17.3618 8.86171 17.3618 9.06836C17.3615 9.27479 17.1893 9.447 16.9829 9.44727C16.7763 9.44727 16.6033 9.27495 16.603 9.06836C16.603 8.85888 16.7716 8.68848 16.9829 8.68848Z' fill='white' stroke='white'/%3E%3Cpath d='M13.0615 9.82031C14.8253 9.82034 16.2666 11.2616 16.2666 13.0254C16.2666 14.7891 14.8253 16.2304 13.0615 16.2305C11.2978 16.2305 9.85648 14.7891 9.85645 13.0254C9.85645 11.261 11.2912 9.82031 13.0615 9.82031ZM13.0615 10.1611C11.4808 10.1611 10.1906 11.4515 10.1904 13.0322C10.1904 14.6121 11.4725 15.9043 13.0615 15.9043C14.6423 15.9043 15.9326 14.613 15.9326 13.0322C15.9324 11.4516 14.6422 10.1612 13.0615 10.1611Z' fill='white' stroke='white'/%3E%3Cpath d='M9.99023 6H16.002C18.2198 6.00003 20.0215 7.80165 20.0215 10.0195V16.0312C20.0214 18.2491 18.2198 20.0508 16.002 20.0508H9.99023C7.77237 20.0508 5.97074 18.2491 5.9707 16.0312V10.0195C5.97071 7.80165 7.77235 6.00001 9.99023 6ZM9.99023 6.41309C7.99855 6.4131 6.38379 8.02785 6.38379 10.0195V16.0312C6.38383 18.0229 7.99857 19.6377 9.99023 19.6377H16.002C17.9936 19.6377 19.6084 18.0229 19.6084 16.0312V10.0195C19.6084 8.02786 17.9936 6.41311 16.002 6.41309H9.99023Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
}
footer .footer_sub .sns ul li.youtude a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58105 0.5H19.4189C22.7774 0.500022 25.5 3.22259 25.5 6.58105V19.4189C25.5 22.7774 22.7774 25.5 19.4189 25.5H6.58105C3.22259 25.5 0.500022 22.7774 0.5 19.4189V6.58105C0.500022 3.22259 3.22259 0.500022 6.58105 0.5Z' stroke='white'/%3E%3Cpath d='M8.90186 8.84766H16.7876C18.2125 8.84766 19.3725 10.0077 19.3726 11.4326V15.1016C19.3726 16.533 18.2134 17.6865 16.7876 17.6865H8.90186C7.47048 17.6864 6.31689 16.5273 6.31689 15.1016V11.4326C6.31698 10.0077 7.47698 8.84774 8.90186 8.84766ZM11.5464 10.8115C11.4383 10.8129 11.3258 10.8289 11.2231 10.8555C11.1245 10.8809 11.0041 10.9235 10.896 10.9941C10.8119 11.0491 10.5933 11.2163 10.5933 11.5195V15.1094C10.5935 15.4202 10.8253 15.5853 10.9019 15.6338C11.0082 15.7012 11.1265 15.7416 11.2231 15.7666C11.324 15.7927 11.4343 15.8097 11.5396 15.8125C11.621 15.8146 11.778 15.8101 11.9272 15.7354L11.9282 15.7373L15.4604 13.9854L15.4595 13.9814C15.6271 13.8956 15.754 13.7376 15.7837 13.5342C15.8088 13.3617 15.7558 13.2176 15.7134 13.1338C15.6283 12.9658 15.4805 12.8234 15.3276 12.7393L15.3257 12.7383L11.9448 10.8994L11.9438 10.9004C11.7922 10.8172 11.6304 10.8105 11.5464 10.8115ZM15.0073 13.0938L14.9849 13.1045C14.9928 13.0997 14.9999 13.0945 15.0073 13.0908V13.0938Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
}

footer .footer_sub .infor_wrap {
    margin-right: 200px;
}
footer .footer_sub .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.01em;
}
footer .footer_sub .f_nav ul li {
    position: relative;
}
footer .footer_sub .f_nav ul li::after {
    content: "";
    position:absolute;
    right: -0.76em;
    top: 0.41em;
    width: 1px;
    height: 0.7em;
    background-color: #ccc;
}
footer .footer_sub .f_nav ul li:last-child::after {
    display: none;
}
footer .footer_sub .f_infor {
    margin: 29px 0 31px 0;
}
footer .footer_sub .f_infor span,
footer .footer_sub .f_infor address {
    display: inline-block;
    margin: 0 1em 0.1em 0;
}
footer .footer_sub .copyright {
    color:  rgba(255,255,255,0.4);
}

@media screen and (max-width:1024px){
            footer .footer_head {
                padding: 26px 0 20px 0;
            }
            footer .footer_head .wrapper {
                gap: 40px;
            }
            footer .footer_head .wrapper .item {
                width: 50%;
                flex-direction: column;
                text-align: center;
                gap: 12px;
            }
            footer .footer_head .wrapper .item h2 {
                font-size: 20px;
            }
            footer .footer_head .wrapper .item p {
                display: none;
            }
            footer .footer_sub {
                padding: 25px 0 65px 0;
            }
            footer .footer_sub .wrapper {
                display: block;
            }
            footer .footer_sub .f_logo {
                text-align: center;
            }
            footer .footer_sub .f_logo img {
                width: 112px;
            }
            footer .footer_sub .sns {
                position: relative;
                right: auto;
                top: auto;
            }
            footer .footer_sub .sns ul {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin: 10px 0;
            }
            footer .footer_sub .sns ul li {
                
                margin: 0 ;
            }
            footer .footer_sub .sns ul li a {
                border-radius: 50%;
                padding: 0;
                width: 35px;
                height: 35px;
                color: transparent;
            }
            footer .footer_sub .sns ul li a::before {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-size: 20px;
            }
            footer .footer_sub .infor_wrap {
                margin: 0;
            }
            
            footer .footer_sub .f_infor {
                margin: 29px 0 31px 0;
            }
            footer .footer_sub .f_infor span,
            footer .footer_sub .f_infor address {
                display: inline-block;
                margin: 0 1em 0.1em 0;
            }
            footer .footer_sub .copyright {
                color:  rgba(255,255,255,0.4);
            }
 }