/* 웹폰트를 선언 */
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('../font/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('../font/TheJamsil5Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}